<!--wrap tag-->
<div>
  <div class='container'>
    <!--top-->
    <div class='t_info_top'>
      <div class='row'>
        <!--search-->
        <div class='col-2'>
          Search
        </div>
        <!--title-->
        <div class='col-8 t_info_title'>
          Tutors Info
        </div>
        <!--add new-->
        <div class='col-2'>
          <div class='btn btn-info t_info_btn_add'>
            + Add More
          </div>
        </div>
      </div>
    </div>

    <!--middle-->
    <div class='t_info_middle'>
      <div class='row'>
        <div class='col-12'>
          <table class='table table-striped'>
            <!--table header-->
            <thead>
              <tr>
                <th class='t_info_table_title'>#</th>
                <th *ngFor='let i of DisplayedLabels' class='t_info_table_title'>
                  {{i | columnTitleFormat}}
                </th>
                <th class='t_info_table_title'>Email</th>
                <th class='t_info_table_title'></th>
              </tr>
            </thead>
            <!--table body-->
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




</div>