<!-- other payment -->
<form class='form-group' [formGroup]="otherPayment">
    <h5>Other Payment:</h5>
    <div class='row'>
        <label class="mt-2">Title of Payment:</label>
        <input class="col-md-4 mt-2 ml-2 form-control" formControlName="title" [class.is-invalid]="title.invalid && title.touched" type="text" placeholder="Please indicate the title..">
    </div>
    <div class='row'>
        <label class="mt-2">Amount of Payment: $</label>
        <input class="col-md-2 mt-2 ml-1 form-control" formControlName="amount" [class.is-invalid]="amount.invalid && amount.touched" type="number" placeholder="Amount..">
    </div>
    <button class="btn btn-primary col-md-2" [disabled]="title.invalid || amount.invalid" (click)="otherPaymentSubmit()">Submit</button>
</form>