<div class="modal-header">
  <h4 class="modal-title">Registration Confirmation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="isloading" class='loaderSmall'></div>
  <div class="container">
    <p>Do you want upload this new student infomation?</p>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()" [disabled]='isConfirmClick'>Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
