<div *ngIf="isLoad">
  <div class='loaderLarge loading'></div>
</div>
<div *ngIf="!isLoad">
  <div class='container tl_body'>
    <div class='row'>
      <!--body head-->
      <div class='col-12 tl_body_title'>
        <h2>Invoice Edit & Email</h2>
      </div>
      <div class='col-6 tl_body_title'>Please Select a Term
        <select style="width: 360px;" [value]='termId' (change)="onChange($event.target.value)">
          <option *ngFor="let i of terms" value="{{i.TermId}}">{{i.TermName}}:{{i.BeginDate}} - {{i.EndDate}}</option>
        </select>
      </div>
      <div class='col-6 tl_body_title'>
        <button type="button" class='btn btn-info t_info_addmore_btn py-1' (click)="onSubmit()">
          <i class='fas fa-search'></i>Search
        </button>
      </div>

      <!--body search-->
      <div class='col-6 tl_body_search my-3'>
        <span class='fas fa-search'></span>&nbsp;
        <input type="text" id='searchingInput' (keydown)='onSearch($event)' placeholder="Search by name">
        <button *ngIf="isSearchingFlag" (click)="clearSearch()" class="btn btn-danger ml-3 py-0">clear</button>
      </div>

      <!--body main-->

      <div class='col-12'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th scope='col' class='tl_body_table_head' style='width: 50px'>#</th>
              <th scope='col' class='tl_body_table_head' style='width: 150px' (click)='onSort("Name")' counter='0' class='sorting_item' style="cursor: pointer;">First Name</th>
              <th scope='col' class='tl_body_table_head' style='width: 100px' (click)='onSort("OwingFee")' style="cursor: pointer;">Initial Amt.</th>
              <th scope='col' class='tl_body_table_head' style='width: 100px' (click)='onSort("InvoiceOwingFee")' style="cursor: pointer;">Amt.</th>
              <th scope='col' class='tl_body_table_head' style='width: 400px' (click)='onSort("Email")' style="cursor: pointer;">Reason</th>
              <th scope='col' class='tl_body_table_head' style='width: 300px' (click)='onSort("IsEmailSent")' style="cursor: pointer;">Confirmation</th>
              <th scope='col' class='tl_body_table_head' style='width: 300px' (click)='onSort("IsConfirmed")' style="cursor: pointer;">Email Status</th>
              <th scope='col' class='tl_body_table_head' style='width: 300px' (click)='onSort("IsConfirmed")' style="cursor: pointer;">Payment</th>
              <th scope='col' class='tl_body_table_head'></th>
            </tr>
          </thead>
          <tbody>
            <!-- dataTable-->
            <tr *ngFor='let item of myArray | slice: (page-1)* pageSize : (page-1) * pageSize + pageSize; let j = index'>
              <th scope="row">{{j+1}}</th>
              <td>
                <app-learner-item [learnerInv]=item></app-learner-item>
              </td>
              <td>{{item.InvoiceWaitingConfirm.OwingFee}}</td>
              <td>{{item.Invoice.TotalFee}}</td>
              <td>{{item.Invoice.Comment}}</td>
              <td *ngIf='item.Invoice.InvoiceId == 0'>No Confirmed</td>
              <td *ngIf='item.Invoice.InvoiceId != 0'>Confirmed</td>
              <td>{{item.InvoiceWaitingConfirm.IsEmailSent|MyType:'status'}}</td>
              <td *ngIf='item.Invoice.IsPaid!=1'>Non-Payment</td>
              <td *ngIf='item.Invoice.IsPaid==1'>Paid</td>
              <td>
                <a (click)='open(item)' style="cursor: pointer;"><span class='fas fa-pen'></span>&nbsp;Edit</a>
              </td>
              <td>
                <a (click)="downloadInvoice()" style="cursor: pointer;"><span class='fas fa-pen'></span>&nbsp;PDF</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--body pagination-->
      <div class='col-12'>
        <ngb-pagination [collectionSize]='learnerListLength' [(page)]='page' [pageSize]='pageSize' [maxSize]="10" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>


    </div>
  </div>
</div>
