<!--attached payment form-->
<div class='switchOthersContainer'>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 container-fluid" *ngIf="learnerId">
                <hr>
                <div id="collapseInvoiceProduct">
                    <!-- tabset -->
                    <ngb-tabset *ngIf="array.length > 1">
                        <ngb-tab *ngFor="let item of dataInvoice; let j = index" [title]=array (click)='userTab(j)'>
                            <ng-template ngbTabContent>
                                <!-- invoice form in tabset -->
                                <div class='row justify-content-between'>
                                    <div class="col-md-10">
                                        <h5>Invoice</h5>
                                        <p>{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate}}</p>
                                        <p>Concert for term 2, 2019</p>
                                        <p>Lesson Note term 2, 2019</p>

                                        <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                                        <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                                        <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>

                                        <p>Payment method: <select #districtPayment (change)="paymentMethod(districtPayment)">
                                            <option value=2>Eftpos</option>
                                            <option value=3>Online Transfer</option>
                                            <option value=1>Cash</option></select></p>
                                        <p>Learner Paid: ${{item.PaidFee}}</p>
                                        <p>Learner Owing Fee: ${{item.OwingFee}}</p>
                                        <div class="row justify-content-start mt-2" [formGroup]="invoiceForm">
                                            <h6 class="col-md-3">Learner Add Fund: </h6>
                                            <p>$</p>
                                            <input type="number" formControlName="owing" placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" [class.is-invalid]="owing.invalid && owing.touched" value='item.OwingFee'>
                                            <div class="col-md-1"></div>
                                            <!-- open method for confirm payment modal-->
                                            <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="openP(contentP, item)">Send This Payment</button>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <h6>Invoice No.{{item.InvoiceNum}}</h6>
                                        <p>${{item.LessonFee}}</p>
                                        <p>${{item.ConcertFee}}</p>
                                        <p>${{item.NoteFee}}</p>
                                        <p>Due Date: {{item.DueDate}}</p>
                                        <h6>All Subject in Total: ${{item.TotalFee}}</h6>
                                    </div>
                                    <!-- comfirm payment modal-->

                                    <div class='row justify-content-md-center'>
                                        <div class="col-md-10">
                                            <ng-template #contentP let-modal>
                                                <div class="modal-header m-2">
                                                    <h4>Please Confirm The Payment</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                                </div>
                                                <!-- modal-body -->
                                                <div class="d-flex flex-column">
                                                    <p class='p-2'>Learner Owning Fee: <span class="badge-info">${{item.OwningFee}}</span></p>
                                                    <p class='p-2'>Learner Add Fund: <span class="badge-warning">${{addFund}}</span></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                                                    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                                                </div>
                                            </ng-template>
                                            <!-- open method -->
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                    <!-- invoice form out tabset-->
                    <div *ngIf="array.length == 1">
                        <div class='row justify-content-between' *ngFor="let item of dataInvoice; let j = index">
                            <div class="col-10">
                                <h5>Invoice</h5>
                                <p>{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate}}</p>
                                <p>Concert for term 2, 2019</p>
                                <p>Lesson Note term 2, 2019</p>

                                <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                                <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                                <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>

                                <p>Payment method: <select #districtPayment (change)="paymentMethod(districtPayment)">
                                  <option value=2>Eftpos</option>
                                  <option value=3>Online Transfer</option>
                                  <option value=1>Cash</option></select></p>
                                <p>Learner Paid: ${{item.PaidFee}}</p>
                                <p>Learner Owing Fee: ${{item.OwingFee}}</p>
                                <div class="row  justify-content-start mt-2" [formGroup]="invoiceForm">
                                    <h6 class="col-md-3">Learner Add Fund: </h6>
                                    <p class="mt-1">$</p>
                                    <input type="number" formControlName="owing" placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" [class.is-invalid]="owing.invalid && owing.touched">
                                    <div class="col-md-1"></div>
                                    <!-- open method for confirm payment modal-->
                                    <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="openP(contentP, item)">Send This Payment</button>
                                </div>
                            </div>
                            <div class="col-2">
                                <h6>Invoice No.{{item.InvoiceNum}}</h6>
                                <p>${{item.LessonFee}}</p>
                                <p>${{item.ConcertFee}}</p>
                                <p>${{item.NoteFee}}</p>
                                <p>Due Date: {{item.DueDate}}</p>
                                <h6>All Subject in Total: ${{item.TotalFee}}</h6>
                            </div>
                            <!-- comfirm payment modal-->

                            <div class='row justify-content-md-center'>
                                <div class="col-md-10">
                                    <ng-template #contentP let-modal>
                                        <div class="modal-header m-2">
                                            <h4>Please Confirm The Payment</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                        </div>
                                        <!-- modal-body -->
                                        <div class="d-flex flex-column">
                                            <p class='p-2'>Learner Owning Fee: <span class="badge-info">${{item.OwingFee}}</span></p>
                                            <p class='p-2'>Learner Add Fund: <span class="badge-warning">${{addFund}}</span></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                                            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                                        </div>
                                    </ng-template>
                                    <!-- open method -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
