<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>{{command | commandFormat}} of <span class='t_dm_title'>{{whichLearner.FirstName}}
      {{whichLearner.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class='modal-body'>
  <div>
    <h4>Student Information</h4>
    <div class="row lable-pos">
      <div class="col-5">
        <p style="font-weight: bold">Student Photo</p>
        <div>
          <img class="imageSize" src="http://gradspace.org:5000/{{whichLearner.Photo}}"
            (error)='setDefaultPhoto($event)'>
        </div>
      </div>

      <div class="col-7">
        <p style="font-weight: bold">ABRSM Certific</p>
        <div>
          <img class="G5imageSize" src="http://gradspace.org:5000/{{whichLearner.G5Certification}}"
            (error)='setDefaultPhoto1($event)'>
        </div>
      </div>

      <div class="col-4">
        <span class="label">First Name: </span>
        <span class='text'>{{whichLearner.FirstName}}</span>
      </div>

      <div class="col-4" *ngIf='whichLearner.MiddleName'>
        <span class="label">Middle Name: </span>
        <span class='text'>{{whichLearner.MiddleName}}</span>
      </div>

      <div class="col-4">
        <span class="label">Last Name: </span>
        <span class='text'>{{whichLearner.LastName}}</span>
      </div>

      <div class="col-4">
        <span class="label">Gender: </span>
        <span class='text'>{{whichLearner.Gender|gender}}</span>
      </div>

      <div class="col-8">
        <span class="label">Date of Birth: </span>
        <span class='text'>{{whichLearner.Dob}}</span>
      </div>
      <br>
      <div class="col-6">
        <span class="label">Date of Enrollment: </span>
        <span class='text'>{{whichLearner.EnrollDate}}</span>
      </div>

      <div *ngIf='whichLearner.Org' class="col-6">
        <span class="label">Location: </span>
        <span class='text'>{{whichLearner.Org.OrgName}}</span>
      </div>

      <div class="col-6">
        <span class="label">Contact Phone: </span>
        <span class='text'>{{whichLearner.ContactNum}}</span>
      </div>

      <div class="col-6">
        <span class="label">Email: </span>
        <span class='text'>{{whichLearner.Email}}</span>
      </div>

      <div class="col-6">
        <span class="label">Physical Address: </span>
        <span class='text'>{{whichLearner.Address}}</span>
      </div>

      <div class="col-6">
        <span class="label">Current Level: </span>
        <span class='text'>{{whichLearner.LearnerLevel}}</span>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <h4>Parent Information</h4>
    <div class="row lable-pos" *ngFor="let learnerParent of whichLearner.Parent">
      <div class="col-6">
        <span class="label">Name: </span>
        <span class='text'>{{learnerParent.FirstName}} {{learnerParent.LastName}}</span>
      </div>

      <div class="col-6">
        <span class="label">Relationship: </span>
        <span class='text'>{{learnerParent.Relationship | relationship}}</span>
      </div>

      <div class="col-6">
        <span class="label">Guardian's Phone: </span>
        <span class='text'>{{learnerParent.ContactNum}}</span>
      </div>

      <div class="col-6">
        <span class="label">Email: </span>
        <span class='text'>{{learnerParent.Email}}</span>
      </div>
    </div>
  </div>

  <hr>
  <div>
    <h4>Course</h4>
    <div>
      <div class="row lable-pos">
        <button class="button-margin btn btn-outline-primary" (click)="chooseGroupCourse()">Group Course</button>
        <button class=' btn btn-outline-primary' (click)="chooseCustomCourse()">One-on-One Course</button>
      </div>

      <div *ngIf='isGroupCourse'>
        <div *ngFor='let groupCourse of whichLearner.LearnerGroupCourse '>
          <br>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <span class="label">Course: </span>
                  <span class='text'>{{groupCourse.GroupCourseInstance.Course.CourseName}}</span>
                </div>

                <div *ngIf='groupCourse.GroupCourseInstance.Org' class="col-6">
                  <span class="label">Location: </span>
                  <span class='text'>{{groupCourse.GroupCourseInstance.Org.OrgName}}</span>
                </div>

                <div class="col-6">
                  <div *ngFor='let room of groupCourse.GroupCourseInstance.Org.Room'>
                    <span class="label">Room: </span>
                    <span class='text'>
                      {{room.RoomName}}
                    </span>
                  </div>
                </div>

                <div class="col-6">
                  <span class="label">Teacher: </span>
                  <span class='text'>{{groupCourse.GroupCourseInstance.Teacher.FirstName}}
                    {{groupCourse.GroupCourseInstance.Teacher.LastName}}
                  </span>
                </div>

                <div class="col-6">
                  <span class="label">Schedule: </span>
                  <div *ngFor='let time of groupCourse.GroupCourseInstance.CourseSchedule'>
                    <span class='text'>{{time.DayOfWeek|weekFormat}}
                      {{time.BeginTime}} -- {{time.EndTime}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- one2one Course -->
      <div *ngIf='isCustomCourse'>

        <div *ngFor="let ele of whichLearner.One2oneCourseInstance">
          <br>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <span class="label">Course: </span>
                  <span class='text'>{{ele.Course.CourseName}}</span>
                </div>

                <div class="col-6">
                  <span class="label">Teacher Name: </span>
                  <span class='text'>{{ele.Teacher.FirstName}} {{ele.Teacher.LastName}}</span>
                </div>

                <div *ngIf='ele.Org' class="col-6">
                  <span class="label">Location: </span>
                  <span class='text'>{{ele.Org.OrgName}}</span>
                </div>

                <div class="col-6">
                  <div *ngFor='let room of ele.Org.Room'>
                    <span class="label">Room: </span>
                    <span class='text'> {{room.RoomName}}</span>
                  </div>
                </div>

                <div class="col-6">
                  <span class="label">Course Start Day: </span>
                  <span class='text'>{{ele.BeginDate}}</span>
                </div>

                <div class="col-6">
                  <span class="label">Course End Day: </span>
                  <span class='text'>{{ele.EndDate}}</span>
                </div>

                <div class="col-6">
                  <span class="label">Course Sechdule: </span>
                  <div *ngFor='let sechdule of ele.CourseSchedule'>
                    <span class='text'> {{sechdule.DayOfWeek|weekFormat}}
                      {{sechdule.BeginTime}} -- {{sechdule.EndTime}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <!-- Others -->
  <div>
    <h4>Others</h4>

    <div class="row">
      <div class="col-6">
        <div class="label">
          Why do you learn the piano:
        </div>
        <div *ngFor='let ele of otherValueList'>
          <div>
            <span class='text'> {{ele}}</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="label">
          How do you know about us:
        </div>
        <div>
          <div *ngFor='let ele of howKnowList'>
            <div>
              <span class='text'> {{ele}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>