<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>{{command | commandFormat}} of <span class='t_dm_title'>{{whichLearner.FirstName}}
      {{whichLearner.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<!-- <div>
  <app-learner-modal-form [command]='command' [whichLearner]='whichLearner'></app-learner-modal-form>
</div> -->
<div class='modal-body'>
  <div>
    <h3>Student Information</h3>
    <!--缺 人物照片 -->
    <div class="row lable-pos">
      <div class="col-6">
        <p style="font-weight: bold">Student Photo</p>
        <div class='learnerImage'>
            <!-- <img src="src/assets/images/shared/default-employer-profile.png" > -->
          <img class="imageSize" src="http://gradspace.org:5000/{{whichLearner.Photo}}" (error)='setDefaultPhoto($event)'>
            
        </div>
      </div>
     
      <div class="col-6">
        <p style="font-weight: bold">ABRSM Certific</p>
        <div class='G5learnerImage'>
          <img class="G5imageSize" src="http://gradspace.org:5000/{{whichLearner.G5Certification}}" (error)='setDefaultPhoto($event)'>
        </div>
      </div>

      <div class="col-4">
        <span class="label">First Name: </span>{{whichLearner.FirstName}}
      </div>

      <div class="col-4">
        <span class="label">Middle Name: </span>{{whichLearner.MiddleName}}
      </div>

      <div class="col-4">
        <span class="label">Last Name: </span>{{whichLearner.LastName}}
      </div>

      <div class="col-4">
        <span class="label">Gender: </span>{{whichLearner.Gender|gender}}
      </div>

      <div class="col-8">
        <span class="label">Date of Birth: </span>{{whichLearner.Dob}}
      </div>

      <div class="col-6">
        <span class="label">Date of Enrollment: </span>{{whichLearner.EnrollDate}}
      </div>

      <div *ngIf='whichLearner.Org' class="col-6">
        <span class="label" >Location: </span>{{whichLearner.Org.OrgName}}
      </div>

      <div class="col-6">
        <span class="label">Contact Phone: </span>{{whichLearner.ContactNum}}
      </div>

      <div class="col-6">
        <span class="label">Email: </span>{{whichLearner.Email}}
      </div>

      <div class="col-6">
        <span class="label">Physical Address: </span>{{whichLearner.Address}}
      </div>

      <div class="col-6">
        <span class="label">Current Level: </span>{{whichLearner.LearnerLevel}}
      </div>

      <!-- 缺各种原因 -->

    </div>
  </div>

  <hr>
  <div>
    <h3>Parent Information</h3>
    <div class="row lable-pos" *ngFor="let learnerParent of whichLearner.Parent">

      <div class="col-4">
        <span class="label">First Name: </span> {{learnerParent.FirstName}}
      </div>

      <div class="col-4">
        <span class="label">Last Name: </span> {{learnerParent.LastName}}
      </div>

      <div class="col-4">
        <span class="label">Relationship: </span> {{learnerParent.Relationship | relationship}}
      </div>

      <div class="col-6">
        <span class="label">Guardian's Phone: </span> {{learnerParent.ContactNum}}
      </div>

      <div class="col-6">
        <span class="label">Email: </span> {{learnerParent.Email}}
      </div>
    </div>


  </div>

  <hr>
  <div>
    <h3>Course</h3>
    <div>
      <div class="row lable-pos">

        <button class="button-margin" (click)="chooseGroupCourse()">Group Course</button>
        <button (click)="chooseCustomCourse()">One-on-One Course</button>
      </div>

      <div *ngIf='isGroupCourse'>
        <h5>Group Course</h5>
        <div *ngFor='let groupCourse of whichLearner.LearnerGroupCourse '>
          <div class="row">
            <div class="col-6">
              <span class="label">Course: </span> {{groupCourse.GroupCourseInstance.Course.CourseName}}
            </div>

            <div class="col-6">
              <span class="label">Schedule: </span> 
            </div>

            <div *ngIf='groupCourse.GroupCourseInstance.Org' class="col-6">
              <span  class="label">Location: </span> {{groupCourse.GroupCourseInstance.Org.OrgName}}
            </div>

            <div class="col-6">
              <span class="label">Room: </span>{{groupCourse.GroupCourseInstance.Org.Room.RommName}}
            </div>

            <div class="col-6" *ngIf='whichLearner.Teacher' >
              <span class="label">Teacher: </span>{{whichLearner.Teacher.FirstName}} {{whichLearner.Teacher.LastName}}
            </div>
          </div>
        </div>
      </div>

      <!-- one2one Course -->
      <div *ngIf='isCustomCourse'>
        <h5>One-on-One Course</h5>
        <div *ngFor="let ele of whichLearner.One2oneCourseInstance">
          <div class="row">

            <div class="col-6">
              <span class="label">Course: </span> {{ele.Course.CourseName}}
            </div>

            <div class="col-6">
              <span class="label">Teacher Name: </span> {{ele.Teacher.FirstName}} {{ele.Teacher.LastName}}
            </div>

            <div *ngIf='ele.Org' class="col-6">
              <span  class="label">Location: </span> {{ele.Org.OrgName}}
            </div>

            <div class="col-6">
              <span class="label">Room No.: </span> {{ele.Org.Room.RoomName}}
            </div>

            <div class="col-6">
              <span class="label">Course Start Day: </span> {{ele.BeginDate}}
            </div>

            <div class="col-6">
              <span class="label">Course End Day: </span> {{ele.EndDate}}
            </div>

            <div class="col-6">
              <span class="label">Course Day: </span>
            </div>

            <div class="col-6">
              <span class="label">Course Time: </span> {{ele.CourseSchedule}}
            </div>


          </div>
          <br>

        </div>
      </div>

    </div>
  </div>

  <hr>
  <!-- Others -->
  <div>
    <h3>Others</h3>

    <div class="row">
      <div class="col-6">
        <div class="label">
          Why do you learn the piano:
        </div>
        <div *ngFor='let ele of whichLearner.LearnerOthers'>
          <div>
            <div *ngIf="ele.OthersType == '2'">
              {{ele.OthersValue }}
            </div>

          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="label">
          How do you know about us:
        </div>
        <div>
          <div *ngFor='let ele of whichLearner.LearnerOthers'>
            <div *ngIf="ele.OthersType == '3'">
              {{ele.OthersValue | knowMethods}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>




</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>