<div id="reason" class="row mb-2">
  <!-- <label class="mt-2" id='reason'>Reason:</label> -->
  <select (change)='changeSelect($event.target.value)' #selector id='mySelect' >
    <!-- <option disabled selected value>-- select an option --</option> -->
    <option value="S:">Reason from Student</option>
    <option value="T:">Reason from Teacher</option>
    <option value="R:">Reason from Receptionist</option>
    <!-- <option value="O:">Other Reason</option>     -->
  </select>
  <input type='text' (keyup)='changeText($event.target.value)' id='myInput'>
</div>

