<div class='container tl_body'>
  <div class="row">
    <!--body head-->
    <div class='col-12 t_info_title'>
      Payments List
    </div>
    <!--body search dates-->
    <div class="col-12">
      <div *ngIf="searchbar == true" style="width:20%; float: left;">
        <div class='t_info_search_bar'>
          <input class="form-control" id='searchingInput' type="text" style="height: 30px;" placeholder="Search..."
            (keydown)='onSearch($event)'>
        </div>
        <div class='t_info_search_icon'>
          <span (click)="onSearch(null)">
            <i class='fas fa-search'></i>
          </span>
        </div>
      </div>
      <div style="width:75%; float: right;">
        <span>
          <p class="label_p">
            <input type="checkbox" class="label_p" (change)="searchPeriod=!searchPeriod" 
            (change)="onSubmit()" >Search Option: a period or a day:
          </p>
        </span>
        <form style="float:right;" [formGroup]='searchForm'>
          <div *ngIf="searchPeriod" class="input-group input_datebar">
            <input class="form-control" style="height: 30px;" placeholder="yyyy-mm-dd" ngbDatepicker
              #begindate="ngbDatepicker" formControlName="BeginDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" style="height: 30px; line-height: 0;"
                (click)="begindate.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <span>
            <p *ngIf="searchOption" class="label_p">To</p>
          </span>
          <div class="input-group input_datebar">
            <input class="form-control" style="height: 30px;" placeholder="yyyy-mm-dd" ngbDatepicker
              #enddate="ngbDatepicker" formControlName="EndDate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" style="height: 30px; line-height: 0;"
                (click)="enddate.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <!--add more btn-->
          <button type="button" class='btn btn-info t_info_addmore_btn' (click)="onSubmit()">
            <i class='fas fa-search'></i>Search
          </button>
        </form>
      </div>
    </div>
    <!--info page table-->
    <div *ngIf='loadingFlag' class="loaderLarge"></div>
    <div *ngIf='!loadingFlag' class='t_mf_form'>
      <div class='col-12'>
        <table class='table table-striped' style="text-align: center;">
          <thead>
            <tr>
              <th scope='col' class='tl_body_table_head' style="width:2rem;">#</th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:18rem"
                (click)='onSort("LearnerName")'>
                Student Name
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:17rem" (click)='onSort("StaffName")'>
                Staff Name
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:5rem" (click)='onSort("CreatedAt")'>
                Created At
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:4rem" (click)='onSort("Amount")'>
                Amt.
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:10rem"
                (click)='onSort("PaymantTypeName")'>
                Payment Type
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:6rem"
                (click)='onSort("PaymentMethodName")'>
                Payment Method
              </th>
              <th scope='col' class='tl_body_table_head' style="width:9rem">
                Course/Product
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:5rem"
                (click)='onSort("LessonQuantity")'>
                Lesson QTY
              </th>
              <th scope='col' class='tl_body_table_head sorting_item' style="width:8rem"
                (click)='onSort("IsConfirmed")'>
                Confirmation
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- dataTable-->
            <tr
              *ngFor='let i of adminPaymentList | slice: (page-1)* pageSize : (page-1) * pageSize + pageSize; let j = index'>
              <th scope="row">{{j+1}}</th>
              <td>
                {{i.LearnerName}}
              </td>
              <td>{{i.StaffName}}</td>
              <td>{{i.CreatedAt | date:'shortDate'}}</td>
              <td>${{i.Amount}}</td>
              <td>{{i.PaymentTypeName}}</td>
              <td>{{i.PaymentMethodName}}</td>
              <!-- Invoice content -->
              <td *ngIf="i.LessonQuantity">{{i.CourseName}}</td>
              <td *ngIf="i.LessonQuantity">{{i.LessonQuantity}}</td>
              <!-- Sold Transaction content -->
              <td *ngIf="i.ProductName">
                <span class='tl_body_table_btn col-4' style="text-align: center;" (click)="open(0,i)">
                  <i class="fas fa-receipt"></i>
                </span>
              </td>
              <td *ngIf="i.ProductName">null</td>
              <!-- other content -->
              <td *ngIf="!i.LessonQuantity && !i.ProductName">null</td>
              <td *ngIf="!i.LessonQuantity && !i.ProductName">null</td>
              <!-- Managers confirm paying -->
              <td *ngIf="i.IsConfirmed == 0">
                <span class='tl_body_table_btn col-4' style="text-align: center;" (click)="open(1,i)">
                  <i class="fas fa-times" style="color: red;"></i>
                </span>
              </td>
              <td *ngIf="i.IsConfirmed != 0" title="{{i.Comment}}">
                <i class="fas fa-check"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--body pagination-->
      <div class='col-12'>
        <ngb-pagination #pagination [collectionSize]='adminPaymentListLength' [(page)]='page' [pageSize]='pageSize'
          (click)="getCurrentPage()">
        </ngb-pagination>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
                <span class="label" style="font-weight: bold">Total: </span>
                <span class='text'>{{paymentTotal.total}}</span>
            </div>  
            <div class="col-3">
              <span class="label" style="font-weight: bold">Cash: </span>
              <span class='text'>{{paymentTotal.inCash}}</span>
            </div>
            <div class="col-3">
              <span class="label" style="font-weight: bold">Eftpos: </span>
              <span class='text'>{{paymentTotal.eftpos}}</span>
            </div>
            <div class="col-3">
              <span class="label" style="font-weight: bold">Online Transfer: </span>
              <span class='text'>{{paymentTotal.bankDepoist}}</span>
            </div>
          
          </div>
        </div>
      </div>
      <div *ngIf='adminPaymentListLength>0 && searchPeriod==false' class="card" style="margin-top: 20px">
        <div class="card-header">Cash Daily Log</div>
        <div class="card-body">
          <div class="row">
            <div class="col-2"></div>

          </div>
          <div  class="row">
            
            <div class="col-3">
              <span class="label" style="font-weight: bold">Yesterday's:</span>
              <span class='text'>{{paymentTotal.yesterdayChange}}</span>
            </div>
            <div class="col-3">
              <span class="label" style="font-weight: bold">After Paids:</span>
              <span class='text'>{{paymentTotal.yesterdayChange+paymentTotal.inCash}}</span>
            </div>
            <div class="col-3">
                <span>
                  <label class="label" style="font-weight: bold">Trans: </label>
                  <input style="width: 50%;" type="number" [(ngModel)]="paymentTotal.outCash" (change)="transChange()" (keyup)="transChange()" placeholder="0">
                </span>
              </div>    
              <div class="col-3">
                  <span class="label" style="font-weight: bold">Today's: </span>
                  <span class='text'>{{paymentTotal.totalChange}}</span>
                </div>                      
          </div>
          <div class="row">
            <div class="col-12">
              <button type="button" class='btn btn-info t_info_addmore_btn' style="width:200px;" (click)="submitDaillyLog()">
                Submit Daily Log
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>