<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="../../../../assets/images/usersimg/testimg.jpg" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h4">Chris He</h1>
      <p>President of US</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active">
      <a href="index.html"> 
        <i class="fas fa-home sidebaricon"></i>Home
      </a>
    </li>
    <li>
      <a href="#"> 
        <i class="fas fa-th sidebaricon"></i>Tables
      </a>
    </li>
    <li>
      <a href="#"> 
        <i class="fas fa-chart-bar sidebaricon"></i>Charts 
      </a>
    </li>
    <li>
      <a ng-href="#"> 
        <i class="far fa-clipboard sidebaricon"></i>Forms 
      </a>
    </li>
    <li> 
      <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
        <i class="far fa-window-restore sidebaricon"></i>Example dropdown 
      </a>
      <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
      </ul>
    </li>
    <li>
      <a href="#"> 
        <i class="far fa-window-restore sidebaricon"></i>Login page 
      </a>
    </li>
  </ul>
  <span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li><a href="#"><i class="fas fa-flask sidebaricon"></i>Demo</a></li>
    <li><a href="#"><i class="fas fa-desktop sidebaricon"></i>Demo</a></li>
    <li><a href="#"><i class="far fa-envelope sidebaricon"></i>Demo</a></li>
    <li><a href="#"><i class="far fa-image sidebaricon"></i>Demo</a></li>
  </ul>
</nav>
