<div class='c_icon_btn'>
  <span class='fa fa-comment-dots c_icon'></span>
</div>

<div class='c_body'>
  <!--联系人区域-->
  <div id='Subscribers'>
    <div class='c_body_title'>
      Subscribers
    </div>

    <!--联系人分组-->
    <div class='c_body_group'>
      <div class='c_body_group_item'>
        <span class='c_body_group_title'>Teachers</span>
        <span class='fas fa-chevron-up c_body_group_up'></span>
      </div>

      <div class='c_body_group_item'>
        <span class='c_body_group_title'>Students</span>
        <span class='fas fa-chevron-up c_body_group_up'></span>
      </div>

      <div class='c_body_group_item'>
        <span class='c_body_group_title'>Staff</span>
        <span class='fas fa-chevron-up c_body_group_up'></span>
      </div>
    </div>

    <!--群聊区域-->
    <div class='c_body_title'>
      Group Chat
    </div>
  </div>

  <div id='recently' style="display: none">
    <div class='c_body_title'>
      Recent Subscribers
    </div>
  </div>

  <div id='chatting' style="display: none">
    <div class='c_body_title'>
      Chatting with...
    </div>

    <div class='c_chatting_emoji' id='emojiArea'>

    </div>

    <div class='c_chatting_input'>
      <textarea name="" id="" >aaa</textarea>
    </div>
  </div>





  <!--panel 区域-->
  <div class='c_body_panel col-12'>
    <div class='row'>
      <div class='col-4'>
        <span (click)='selectFunctionalBtn(0)'><span class='far fa-user c_body_panel_btn'></span></span>
      </div>
      <div class='col-4'>
        <span (click)='selectFunctionalBtn(1)'><span class='far fa-circle c_body_panel_btn'></span></span>

      </div>
      <div class='col-4'>
        <span (click)='selectFunctionalBtn(2)'><span class='far fa-comment c_body_panel_btn'></span></span>
      </div>
    </div>
  </div>

</div>