.c_icon{
    font: rgb(141, 184, 199);
}
.c_icon_btn{
    background: rgb(141, 184, 199);
    width: 40px;
    height: 40px;
    font-size:25px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: fixed;
    right:1rem;
    bottom: 1rem;
}
.c_icon_btn:hover{
    background: rgb(141, 184, 199);
    color:lightblue;
    cursor: pointer;
}

.c_body{
    position: fixed;
    right:10px;
    bottom: 10px;
    z-index: 100;
    width: 300px;
    height: 600px;
    background: white;
    border: 1px solid lightgrey;
}
.c_body_panel{
    position: absolute;
    bottom: 0px;
    border-top:1px solid lightgrey;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgb(141, 184, 199);
    color:white;
}
.c_body_panel_btn:hover{
    cursor: pointer;
}
.c_body_title{
    height:30px;
    width:100%;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background: rgb(141, 184, 199);
    color:white;
}
.c_body_group_title{
    margin-left:10px;
    font-weight:bold;
}
.c_body_group_up{
    float: right;
    margin-right:10px;
}
.c_body_group_item:hover{
    cursor: pointer;
    background: lightgray;
}


#chatting{
    position: relative;
    height: 100%;
}
.c_chatting_emoji{
    height:20px;
    width: 100%;
    background: grey;
    position: absolute;
    bottom: 180px;
}
.c_chatting_input{
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    border-top: 2px solid lightgrey;
}
.c_chatting_input textarea{
    height: 100%;
    width:100%;
    text-align: left;
    resize: none;
    border:none;
    outline: none;
}