<div class="container">
  <form [formGroup]="poi">
    <label>Date:</label>&nbsp;
    <select formControlName="TermId" style="width: 360px;">
      <option *ngFor="let i of qweqwe" value="{{i.TermId}}">{{i.BeginDate}} - {{i.EndDate}}</option>
    </select><br>
    <button type="submit" (click)="onSubmit()">飞一样的感觉</button>
  </form>
  <app-time-picker-org [course]=1 [orgId]=1 [startDate]='2009-10-20' [dayOfWeek]=2></app-time-picker-org>
</div>

<!--
<div>
  <button type="button" class="btn btn-outline-primary" (click)='changePassword()'>Change Password</button>
</div>
<ngx-emoji [emoji]="{ id: 'grinning', skin: 3 }" size="16"></ngx-emoji>
<div>
  <a href="" routerLink='/learner/trial'>aaaaa</a>
  <span class='t_info_table_btn'></span>
</div> -->


<!--
<emoji-mart emoji='point_up' id='m_c_emoji_picker_panel' isNative=true>
</emoji-mart>
<div class='loaderSmall'>
</div> -->

<!-- <app-reason-Input  [(ngModel)]="ReasonValue"></app-reason-Input>
<button class='btn' (click)="log()">ClickMe</button>
</div> -->