<div>
  <form novalidate [formGroup]='registrationForm'>
    <div class="row">

      <!-- Name -->
      <span class="col-sm-1 col-md-1">
        <span for="firstName">Name: </span>
      </span>

      <span class='col-sm-3 col-md-3'>
        <input class="form-control l-input" formControlName="FirstName" type="text" id="firstName"
          placeholder="First Name *"
          [class.error_border]='registrationForm.get("FirstName").invalid && registrationForm.get("FirstName").touched'>
        <div
          *ngIf="registrationForm.controls.FirstName.invalid && (registrationForm.controls.FirstName.dirty ||registrationForm.controls.FirstName.touched)"
          class="text-danger">
          <small *ngIf="registrationForm.controls.FirstName.errors?.required"> First name is required</small>

        </div>
      </span>


      <span class='col-sm-3 col-md-3'>
        <input class="form-control l-input" formControlName="MiddleName" type="text" id="middleName"
          placeholder="Middle Name ">
      </span>

      <span class='col-sm-3 col-md-3'>
        <input class="form-control l-input" formControlName="LastName" type="text" id="lastName"
          placeholder="Last Name *"
          [class.error_border]='registrationForm.get("LastName").invalid && registrationForm.get("LastName").touched'>
        <div
          *ngIf="registrationForm.controls.LastName.invalid && (registrationForm.controls.LastName.dirty ||registrationForm.controls.LastName.touched)"
          class="text-danger">
          <small *ngIf="registrationForm.controls.LastName.errors?.required"> Last name is required</small>
        </div>
      </span>
    </div>
    <br>

    <div class="row">
      <span class="col-sm-1 col-md-1">
        <span for="firstName">Gender: </span>
      </span>

      <span class='col-sm-3 col-md-3'>
        <select type="text" class='form-control l-input' formControlName='Gender'
          [class.error_border]='registrationForm.get("Gender").invalid && registrationForm.get("Gender").touched'>
          <option value=" " disabled selected>Gender *</option>
          <option value="1" >Male</option>
          <option value="2">Female</option>
        </select>
        <div
          *ngIf="registrationForm.controls.Gender.invalid && (registrationForm.controls.Gender.dirty ||registrationForm.controls.Gender.touched)"
          class="text-danger">
          <small *ngIf="registrationForm.controls.Gender.errors?.required"> Gender is required</small>
        </div>
      </span>


    </div>












  </form>
</div>
