<!--modal header-->
<div class='modal-header'>
  <h4 *ngIf='command == 0' class='modal-title'>{{command | commandFormat}}</h4>
  <h4 *ngIf='command == 2' class="modal-title">{{command | commandFormat}}</h4>
  <button type="button" class='btn btn-sm btn-info tl_um_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div style="text-align:center" *ngIf="errorMessage" class="text-danger">{{errorMessage}} <br> </div>
<div class='modal-body'>
  <div class='t_mf_form'>
    <form [formGroup]="updateForm">
      <div class="row">
        <div class="col-6">
          <label class='t_mf_label'>Course Name:</label>
          <select type="text" class='col-12 t_mf_input' formControlName="CourseId">
            <option *ngFor='let i of courseNamefilter' value="{{i.CourseId}}">{{i.CourseName}}</option>
          </select>
          <label class='t_mf_label'>Tutor Name:</label>
          <select type="text" class='col-12 t_mf_input' formControlName="TeacherId">
            <option *ngFor='let i of tutorName' value="{{i.TeacherId}}">{{i.FirstName}} {{i.LastName}}</option>
          </select>
          <label class='t_mf_label'>Start Date:</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker formControlName="BeginDate" 
              #startDate="ngbDatepicker" (dateSelect)="onBeginDateSelection($event)" id="begindate" value="">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="startDate.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
            </div>
          </div>
          <label class='t_mf_label'>End Date:</label>
          <div class="input-group">
            <input class="form-control" name="dp" placeholder="yyyy-mm-dd" formControlName="EndDate" ngbDatepicker
              #endDate="ngbDatepicker" (dateSelect)="onEndDateSelection($event)" id="enddate">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
            </div>
          </div>
          <label class='t_mf_label'>Location:</label>
          <select type="text" class='col-12 t_mf_input' formControlName="OrgId" (change)="filterrooms($event.target.value)">
            <option *ngFor='let i of locationName' value="{{i.OrgId}}">{{i.OrgName}}</option>
          </select>
          <label class='t_mf_label'>Room:</label>
          <select type="text" class='col-12 t_mf_input' formControlName="RoomId">
            <option *ngFor='let i of rooms' value="{{i.RoomId}}">{{i.RoomName}}</option>                      
          </select>
        </div>
        <div class="col-6">
          <div class="t_mf_form" formArrayName="CourseSchedule">
            <div class="row">
              <div class="col-6" style="margin-right: -1rem;"
                *ngFor="let sches of updateForm.get('CourseSchedule').controls; let i = index" [formGroupName]="i">
                <label class='t_mf_label'>Begin Time {{i+1}} :</label>
                <span style="float:right;" (click)="deleteTime(i)"><i class="far fa-calendar-times" style="cursor:hand;"></i></span>
                <input class="form-control" type="time" name="time" step="900" formControlName="BeginTime" />                
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--modal footer-->
<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' style="margin-right: 9rem;" (click)="newTime()">+ Add New Time</button>
  <button type='button' class='btn btn-outline-dark' (click)='onSubmit(this.updateForm)'>Save</button>
</div>
