<!--modal header-->
<div class='modal-header'>
  <h4 *ngIf='command == 0' class='modal-title'>{{command | commandFormat}}</h4>
  <h4 *ngIf='command == 2' class="modal-title">{{command | commandFormat}}</h4>
  <button type="button" class='btn btn-sm btn-info tl_um_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div style="text-align:center"  *ngIf="errorMessage" class="text-danger">{{errorMessage}} <br> </div>
<div class='modal-body'>
  <div class='t_mf_form'>
    <form [formGroup]='updateForm'>
      <div class="row">
        <div class="col-6">
          <label class='t_mf_label'>Course Name:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("CourseName").invalid && updateForm.get("CourseName").touched'>required</small>
          <input type="text" class='col-12 t_mf_input' formControlName='CourseName'
          [class.t_mf_error_border]='updateForm.get("CourseName").invalid && updateForm.get("CourseName").touched'>
          <label class='t_mf_label'>Type:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("CourseType").invalid && updateForm.get("CourseType").touched'>required</small>
          <select type="text" class='col-12 t_mf_input' formControlName='CourseType'
            [class.t_mf_error_border]='updateForm.get("CourseType").invalid && updateForm.get("CourseType").touched'>
            <option *ngFor='let i of courseTypes' value={{i.PropValue}}>{{i.PropName}}</option>
          </select>
          <label class='t_mf_label'>Teacher Level:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("TeacherLevel").invalid && updateForm.get("TeacherLevel").touched'>required</small>
          <select type="text" class='col-12 t_mf_input' formControlName='TeacherLevel'
            [class.t_mf_error_border]='updateForm.get("TeacherLevel").invalid && updateForm.get("TeacherLevel").touched'>
            <option *ngFor='let i of teachersLevels' value={{i.PropValue}}>{{i.PropName}}</option>
          </select>
          <label class='t_mf_label'>Learner Level:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("Level").invalid && updateForm.get("Level").touched'>required</small>
          <select type="text" class='col-12 t_mf_input' formControlName='Level'
            [class.t_mf_error_border]='updateForm.get("Level").invalid && updateForm.get("Level").touched'>
            <option *ngFor='let i of levels' value={{i.PropValue}}>{{i.PropName}}</option>
          </select>
        </div>
        <div class="col-6">
          <label class='t_mf_label'>Category:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("CourseCategoryId").invalid && updateForm.get("CourseCategoryId").touched'>required</small>
          <select type="text" class='col-12 t_mf_input' formControlName='CourseCategoryId'
            [class.t_mf_error_border]='updateForm.get("CourseCategoryId").invalid && updateForm.get("CourseCategoryId").touched'>
            <option *ngFor='let i of courseCategories' value={{i.CourseCategoryId}}>{{i.CourseCategoryName}}</option>
          </select>
          <label class='t_mf_label'>Duration(mins):</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("Duration").invalid && updateForm.get("Duration").touched'>required</small>
          <select type="text" class='col-12 t_mf_input' formControlName='Duration'
            [class.t_mf_error_border]='updateForm.get("Duration").invalid && updateForm.get("Duration").touched'>
            <option *ngFor='let i of durations' value={{i.PropValue}}>{{i.PropName}}</option>
          </select>
          <label class='t_mf_label'>Price(Total):</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
          *ngIf='updateForm.get("Price").invalid && updateForm.get("Price").touched'>required</small>
          <input type="number" class='col-12 t_mf_input' formControlName='Price'
            [class.t_mf_error_border]='updateForm.get("Price").invalid && updateForm.get("Price").touched'>
        </div>
      </div>
    </form>
  </div>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' [disabled]="!this.updateForm.valid" (click)='this.updateForm.valid && onSubmit(this.updateForm)'>Save</button>
</div>
