<div class='m_s_skeleton'>
  <!--subscriber group switcher-->
  <div class='row m_s_group_btn'>
    <div class='col-4'>
      <div class='m_s_group_label' [class.m_s_group_label_hover]='groupChatSwitchFlag'
        (click)='changeChattingGroup($event,0)'>
        Subscribers
      </div>
    </div>
    <div class='col-4'>
      <div class='m_s_group_label' [class.m_s_group_label_hover]='!groupChatSwitchFlag'
        (click)='changeChattingGroup($event,1)'>
        Group Chat
      </div>
    </div>
  </div>

  <!--subscriber body-->
  <div [@switchGroupTrigger]='groupChatSwitchFlag?"display":"hide"'>
    <!--teachers-->
    <div class='row'>
      <div class='col-12 m_s_subscribers_label' (click)='displayGroup($event,"group_teachers")'>
        &nbsp;Teachers
      </div>
      <!--ngif-->
      <div class='col-12' id='group_teachers' style="display: none">
        <!--ngfor-->
        <div *ngFor='let i of subsOfTeacher' class='row m_s_subscribers' (dblclick)='chattingWithHandler($event,i)'>
          <div class='col-3'>
            <div class='m_s_subscribers_photo'>
              <img [src]="i.Photo" alt="">
            </div>
          </div>
          <div class='col-9'>
            <div class='m_s_subscribers_name'>
              {{i.FirstName}} {{i.LastName}}
            </div>
            <app-messager-notification [notiNum]="notiNum"></app-messager-notification>
            <div class='col-12 m_s_subscribers_signature'>
              个性签名
            </div>
          </div>
        </div>
      </div>

      <!--students-->
      <div class='col-12 m_s_subscribers_label' (click)='displayGroup($event,"group_students")'>
          &nbsp;Students
      </div>
      <!--ngif-->
      <div class='col-12' id='group_students' style="display: none">
        <!--ngfor-->
        <div *ngFor='let i of subsOfStudents' class='row m_s_subscribers' (dblclick)='chattingWithHandler($event,i)'>
          <div class='col-3'>
            <div class='m_s_subscribers_photo'>
              <img [src]='i.Photo' alt="">
            </div>
          </div>
          <div class='col-9'>
            <div class='col-12 m_s_subscribers_name'>
              {{i.FirstName}} {{i.LastName}}
            </div>
            <div class='col-12 m_s_subscribers_signature'>
              奥克兰吴彦祖 奥克兰陈冠希 奥克兰王力宏
            </div>
          </div>
        </div>
      </div>

      <!--staffs-->
      <div class='col-12 m_s_subscribers_label' (click)='displayGroup($event,"group_staffs")'>
          &nbsp;Staffs
      </div>
      <!--ngif-->
      <div class='col-12' id='group_staffs' style="display: none">
        <!--ngfor-->
        <div *ngFor='let i of subsOfStaffs' class='row m_s_subscribers' (dblclick)='chattingWithHandler($event,i)'>
          <div class='col-3'>
            <div class='m_s_subscribers_photo'>
              <img [src]="i.Photo" alt="">
            </div>
          </div>
          <div class='col-9'>
            <div class='col-12 m_s_subscribers_name'>
              {{i.FirstName}} {{i.LastName}}
            </div>
            <div class='col-12 m_s_subscribers_signature'>
              奥克兰吴彦祖 奥克兰陈冠希 奥克兰王力宏
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Group chat-->
  <div [@switchGroupTrigger]='groupChatSwitchFlag?"hide":"display"'>
    group chat
  </div>

</div>