<!--attached payment form-->
<div class='switchOthersContainer'>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 container-fluid" *ngIf="learnerId">
        <hr>
        <div id="collapseInvoiceProduct">
          <!-- tabset -->
          <ngb-tabset *ngIf="(arrayInv.length > 1) && !noInvoice" (tabChange)="fetchNews($event)">
            <ngb-tab *ngFor="let item of dataInvoice; let j = index" [title]=j+1 [id]=j>
              <ng-template ngbTabContent>
                <!-- invoice form in tabset -->
                <div class='row justify-content-between'>
                  <div class="col-md-10" [formGroup]='invoiceForm'>

                    <h5>Invoice</h5>
                    <p *ngIf="item.BeginDate !== 'none'">{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate|date}}</p>
                    <p *ngIf="item.BeginDate === 'none'">{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date: Not Available</p>
                    <p *ngIf="item.ConcertFee!=0">{{item.ConcertFeeName}}</p>
                    <p *ngIf="item.NoteFee!=0">{{item.LessonNoteFeeName}}</p>

                    <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                    <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                    <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>
                    <label>Payment Method</label>
                    <select formControlName="paymentMethodI" class='form-control col-2' [class.is-invalid]="paymentMethodI.invalid && paymentMethodI.touched" (change)='changePayment()'>
                      <option disabled>Pls select..</option>
                      <option value=2>Eftpos</option>
                      <option value=3>Online Transfer</option>
                      <option value=1>Cash</option>
                    </select>
                    <small [class.d-none]="paymentMethodI.valid || paymentMethodI.untouched" class="text-danger">You must select the payment type</small>
                    <p>Already Paid: ${{item.PaidFee}}</p>
                    <p>Unpaid Amount: ${{item.OwingFee}}</p>
                    <!-- <p>Credit: ${{credit}}}</p> -->
                    <div *ngIf='credit>0' class="form-check">
                      <input class="form-check-input" type="checkbox"  (click)='useCredit($event,j)' id="defaultCheck2">
                    
                      <label class="form-check-label" for="defaultCheck2">
                        Credit: ${{credit}}
                      </label>
                    </div>

                    <div class="row justify-content-start mt-2" [formGroup]="invoiceForm">
                      <h6 class="col-md-3">To Charge: </h6>
                      <p>$</p>
                      <input type="number" formControlName="owing" min=0 onkeypress='return (/[\d]/.test(String.fromCharCode(event.keyCode)))' placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" [class.is-invalid]="owing.invalid && owing.touched"
                        value='item.OwingFee'>
                      <div class="col-md-1"></div>
                      <!-- open method for confirm payment modal-->
                      <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="validMethodI(contentP, item, j)">Confirm</button>
                      <small *ngIf="errMsgM" class="text-danger">Please select the payment method &nbsp;</small>
                      <br>
                      <small *ngIf="errMsgO" class="text-danger">Please enter a validate number of the transaction</small>
                    </div>
                    <button class='btn btn-primary' (click)='downloadPDFReady(j)'>Print Invoice</button>
                  </div>
                  <div class="col-2">
                    <p></p>
                    <h6>Invoice No.{{item.InvoiceNum}}</h6>
                    <p>${{item.LessonFee}}</p>
                    <p *ngIf="item.ConcertFee!=0">${{item.ConcertFee}}</p>
                    <p *ngIf="item.NoteFee!=0">${{item.NoteFee}}</p>
                    <p *ngIf="item.DueDate === 'none'">Due Date: Not available</p>
                    <p *ngIf="item.DueDate !== 'none'">Due Date: {{item.DueDate|date:'MMM d, y'}}</p>
                    <h6>All Subject in Total: ${{item.TotalFee}}</h6>
                  </div>
                  <!-- comfirm payment modal-->

                  <div class='row justify-content-md-center'>
                    <div class="col-md-10">
                      <ng-template #contentP let-modal>
                        <div class="modal-header m-2">
                          <h4>Please Confirm The Payment</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <!-- modal-body -->
                        <div class="d-flex flex-column">
                          <p class='p-2'>Already Paid:: <span class="badge-info">${{item.OwingFee}}</span></p>
                          <p class='p-2'>Unpaid Amount: <span class="badge-warning">${{addFund}}</span></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                          <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                        </div>
                      </ng-template>
                      <!-- open method -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <!-- invoice form out tabset-->
          <div *ngIf="arrayInv.length == 1 && !noInvoice">
            <div class='row justify-content-between' *ngFor="let item of dataInvoice; let j = index" [formGroup]="invoiceForm" #pdf>
              <div class="col-10">
                <h5>Invoice</h5>
                <p *ngIf="item.BeginDate !== 'none'">{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate|date}}</p>
                <p *ngIf="item.BeginDate === 'none'">{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date: Not Available</p>
                <p *ngIf="item.ConcertFee!=0">{{item.ConcertFeeName}}</p>
                <p *ngIf="item.NoteFee!=0">{{item.LessonNoteFeeName}}</p>

                <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>

                <label>Payment Method</label>
                <select formControlName="paymentMethodI" class='form-control col-3' [class.is-invalid]="paymentMethodI.invalid && paymentMethodI.touched" (change)='changePayment()'>
                  <option disabled>Pls select..</option>
                  <option value=2>Eftpos</option>
                  <option value=3>Online Transfer</option>
                  <option value=1>Cash</option>
                </select>
                <small [class.d-none]="paymentMethodI.valid || paymentMethodI.untouched" class="text-danger">You must select the payment type</small>
                <p>Already Paid: ${{item.PaidFee}}</p>
                <p>Unpaid Amount:: ${{item.OwingFee}}</p>
                <div *ngIf='credit>0' class="form-check">
                    <input class="form-check-input" type="checkbox" (click)='useCredit($event,j)' id="defaultCheck2">
                  
                    <label class="form-check-label" for="defaultCheck2">
                      Credit: ${{credit}}
                    </label>
                  </div>

                <div class="row  justify-content-start mt-2" [formGroup]="invoiceForm">
                  <h6 class="col-md-3">To Charge: </h6>
                  <p class="mt-1">$</p>
                  <input type="number" formControlName="owing" min="0" 
                    onkeypress='return (/[\d]/.test(String.fromCharCode(event.keyCode)))' 
                    placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" 
                    [class.is-invalid]="owing.invalid && owing.touched">
                  <div class="col-md-1"></div>
                  <!-- open method for confirm payment modal-->
                  <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="validMethodI(contentP, item, j)">Confirm</button>
                  <small *ngIf="errMsgM" class="text-danger">Please select the payment method &nbsp;</small>
                  <br />
                  <small *ngIf="errMsgO" class="text-danger">Please enter a validate number of the transaction</small>
                </div>
                <button class='btn btn-primary' (click)='downloadPDFReady(j)'>Print Invoice</button>
              </div>
              <div class="col-2">
                <h6>Invoice No.{{item.InvoiceNum}}</h6>
                <p>${{item.LessonFee}}</p>
                <p *ngIf="item.ConcertFee!=0">${{item.ConcertFee}}</p>
                <p *ngIf="item.NoteFee!=0">${{item.NoteFee}}</p>
                <p *ngIf="item.DueDate === 'none'">Due Date: Not available</p>
                <p *ngIf="item.DueDate !== 'none'">Due Date: {{item.DueDate|date:'MMM d, y'}}</p>
                <h6>All Subject in Total: ${{item.TotalFee}}</h6>
              </div>
              <!-- comfirm payment modal-->

              <div class='row justify-content-md-center'>
                <div class="col-md-10">
                  <ng-template #contentP let-modal>
                    <div class="modal-header m-2">
                      <h4>Please Confirm The Payment</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- modal-body -->
                    <div class="d-flex flex-column">
                      <p class='p-2'>Learner Owing Fee: <span class="badge-info">${{item.OwingFee}}</span></p>
                      <p class='p-2'>Learner Add Fund: <span class="badge-warning">${{addFund}}</span></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                    </div>
                  </ng-template>
                  <!-- open method -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <ngb-alert *ngIf='successAlert' type="success" (close)="closeSucc()">Your Payment Has Been Made</ngb-alert> -->
        <ngb-alert *ngIf='errorAlert' type="danger" (close)="closeErro()">{{ errorMsg }}</ngb-alert>
