::ng-deep .my-class .modal-dialog {
  max-width: 80%;
  width: 80%;
}

.loaderLarge{
position: fixed;
top:40%;
left: 50%;
}

.spanNameHover{
  cursor: pointer;
}

.spanNameHover:hover {
  font-size: large;
  text-decoration: underline;
}
