<!--选择聊天对象时-->
<div *ngIf='chattingDisplayFlag' class='m_c_skeleton'>
  <div class='m_c_person_label'>
    <!--展示聊天对象的label 
    数据动态获取-->
    <div class='col-12'>
      <div class='row m_c_subscribers'>
        <div class='col-3'>
          <div class='m_c_subscribers_photo'>
            <img src="../../../../../../assets/images/usersimg/userphoto02.jpg" alt="">
          </div>
        </div>
        <div class='col-9'>
          <div class='col-12 m_c_subscribers_name'>
            Winne
          </div>
          <div class='col-12 m_c_subscribers_signature'>
            奥克兰吴彦祖 奥克兰陈冠希 奥克兰王力宏
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--聊天框-->
  <div class='m_c_chatting_panel'>
    <!--ng for-->
    <div class='m_c_chatting_messagers m_c_chatting_messagers_left'>
      <img src="../../../../../../assets/images/usersimg/userphoto02.jpg" alt="" class='m_c_chatting_messagers_left'>
      <div class='m_c_chatting_text m_c_chatting_text_left m_c_chatting_messagers_left'>
        我是奥克兰吴彦祖fdsssssssssssssffffffffffffffffffff
      </div>
    </div>

    <div class='m_c_chatting_messagers m_c_chatting_messagers_right'>
      <img src="../../../../../../assets/images/usersimg/userphoto.jpg" alt="" class='m_c_chatting_messagers_right'>
      <div class='m_c_chatting_text m_c_chatting_text_right m_c_chatting_messagers_right'>
        我也是奥克兰吴彦祖fdsssssssssssssffffffffffffffffffff
      </div>
    </div>

    <!--emoji选择面板-->
    <emoji-mart  emoji='point_up' (emojiSelect)='clickEmoji($event)' id='m_c_emoji_picker_panel' [style]='{width:"100%"}' isNative=true>
    </emoji-mart>
  </div>

  <!--emoji框-->
  <div class='m_c_emoji_panel'>
    <span class='m_c_emoji_panel_info'>crtl + enter to send</span>
    <ngx-emoji emoji='sunglasses' size="25" class='m_c_emoji_picker' (click)='showEmojiPicker()'>
    </ngx-emoji>
  </div>


  <!--输入框-->
  <div class='m_c_input_area'>
    <textarea id='m_c_text_area' spellcheck="false" (keydown)='clickMessageSendBtn($event)'></textarea>
  </div>

</div>

<!--没有选择聊天对象时-->
<div *ngIf='!chattingDisplayFlag' class='m_c_skeleton'>
  <div class='m_c_start_chatting'>
    <span (click)='startChatting()'>start chatting now...</span>
  </div>
</div>