<!--选择聊天对象时-->
<div *ngIf='chattingDisplayFlag'>
  <div class='m_c_person_label'>
    <!--展示聊天对象的label 
    数据动态获取-->
    <div class='col-12'>
      <div class='row m_c_subscribers'>
        <div class='col-3'>
          <div class='m_c_subscribers_photo'>
            <img src="../../../../../../assets/images/usersimg/userphoto02.jpg" alt="">
          </div>
        </div>
        <div class='col-9'>
          <div class='col-12 m_c_subscribers_name'>
            {{subscriber.FirstName}} {{subscriber.LastName}}
          </div>
          <div class='col-12 m_c_subscribers_signature'>
            奥克兰吴彦祖 奥克兰陈冠希 奥克兰王力宏
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--聊天框-->
  <div style="position: relative">
    <div [ngStyle]="{'height': modalHeight - 200 + 'px'}" class='m_c_chatting_panel' id='m_c_chatting_panel'>
      <!--聊天内容-->
      <div *ngFor='let i of localMsgHistroy; let last = last' class='clearfix' style="margin-bottom: 5px">
        <div class='m_c_chatting_messagers' [class.m_c_chatting_messagers_left]='i.leftOrRight == "left"'
          [class.m_c_chatting_messagers_right]='i.leftOrRight == "right"'>
          <img src="../../../../../../assets/images/usersimg/userphoto02.jpg" alt=""
            [class.m_c_chatting_messagers_left]='i.leftOrRight == "left"'
            [class.m_c_chatting_messagers_right]='i.leftOrRight == "right"'>
          <div [class.m_c_chatting_messagers_left]='i.leftOrRight == "left"'
            [class.m_c_chatting_messagers_right]='i.leftOrRight == "right"'>
            <div class='m_c_time_stamp' [class.m_c_time_stamp_left]='i.leftOrRight == "left"'
              [class.m_c_time_stamp_right]='i.leftOrRight == "right"'>{{i.timeStamp}}</div>
            <div class='m_c_chatting_text' [class.m_c_chatting_messagers_left]='i.leftOrRight == "left"'
              [class.m_c_chatting_text_left]='i.leftOrRight == "left"'
              [class.m_c_chatting_messagers_right]='i.leftOrRight == "right"'
              [class.m_c_chatting_text_left]='i.leftOrRight == "left"'
              [class.m_c_chatting_text_right]='i.leftOrRight == "right"'>
              {{i.msg}} {{last ? scroll() : ''}}
            </div>
          </div>
        </div>
      </div>
      <div id='scroll_anchor'></div>
    </div>

    <!--emoji选择面板-->
    <emoji-mart emoji='point_up' (emojiSelect)='emojiClickEventHandler($event)' id='m_c_emoji_picker_panel' [style]='{width:"100%"}'
      isNative=true [@displayPickerPanelTrigger]='emojiPickerDisplayFlag?"display":"hide"'>
    </emoji-mart>
  </div>

  <!--emoji框-->
  <div class='m_c_emoji_panel'>
    <span class='m_c_emoji_panel_info'>crtl + enter to send</span>
    <ngx-emoji emoji='sunglasses' size="25" class='m_c_emoji_picker' (click)='displayEmojiPicker()'>
    </ngx-emoji>
  </div>


  <!--输入框-->
  <div class='m_c_input_area'>
    <textarea #m_c_text_area spellcheck="false" (keydown)='keysDownEventHandler($event)' (keyup)='keysUpEventHanlder($event)'></textarea>
  </div>

</div>

<!--没有选择聊天对象时-->
<div *ngIf='!chattingDisplayFlag'>
  <div class='m_c_start_chatting'>
    <span (click)='startNewChatting()'>start chatting now...</span>
  </div>
</div>