<!--loading-->
<div *ngIf='loadingFlag' class="loaderLarge"></div>

<div *ngIf="!loadingFlag">
  <!-- applicationForm: FormGroup -->
  <form [formGroup] = "applicationForm">
    <!-- line 1 -->
    <div class="row">
      <div class="col-6">
        <label class="label__style">Staff Name:</label>
        <input type="text" class="col-12 input__style" formControlName="staff">
      </div>
      <div class="col-6">
        <label class="label__style">Location:</label>&nbsp;
        <input type="text" class="col-12 input__style" formControlName="org">
      </div>
    </div>
    <!-- line 2 -->
    <div class="row">
      <div class="col-12">
        <label class="label__style col-12 p-0">Apply Reason:</label>
        <!-- detail modal -->
        <input *ngIf="detailFlag" type="textarea" formControlName="applyReason" style="height: 50px;" class="col-12 detail__modal--input">
        <!-- update modal -->
        <input *ngIf="!detailFlag" type="textarea" class="col-12 input__textarea--style" formControlName='applyReason'>
        <!-- validator required -->
        <div *ngIf="applyReason.invalid && (applyReason.dirty || applyReason.touched)">
          <small *ngIf="applyReason.errors.required" class="alert__message--red">
            Apply Reason is required.
          </small>
        </div>
      </div>
    </div>
    <!-- productIdQty: FormArray -->
    <div formArrayName="productIdQty" *ngFor="let prods of applicationForm.get('productIdQty').controls; let i = index">
      <div [formGroupName]="i">
        <!-- detail modal -->
        <div *ngIf="detailFlag" class="p-4 label__style text-center">Product {{ i+1 }}</div>
        <!-- update modal -->
        <div *ngIf="!detailFlag" class="d-flex justify-content-end">
          <button class="btn btn-info my-2" [disabled]="deleteProd[i]" (click)="deleteForm(i)">
            <i class='fas fa-trash-alt'></i>
          </button>
        </div>
        <!-- line 3 -->
        <div class="row">
          <div class="col-6">
            <label class="label__style">Product Category:</label>&nbsp;
            <!-- detail modal -->
            <input *ngIf="detailFlag" type="text" formControlName="prodCat" class="col-12 detail__modal--input">
            <!-- update modal -->
            <select *ngIf="!detailFlag" class="col-12 select__style" formControlName="prodCat" 
              (change)="getProdTypeByCat($event.target.value, i)">
              <option value="" selected disabled hidden>choose..</option>
              <option *ngFor='let prodCat of prodCats[i]' [value]="prodCat.ProdCatId">{{prodCat.ProdCatName}}</option>
            </select>
            <!-- validator required -->
            <div *ngIf="prods.get('prodCat').invalid && (prods.get('prodCat').dirty || prods.get('prodCat').touched)">
              <small *ngIf="prods.get('prodCat').errors.required" class="alert__message--red">
                Product Category is required.
              </small>
            </div>
          </div>
          <div class="col-6">
            <label class="label__style">Product Type:</label>&nbsp;
            <!-- detial modal -->
            <input *ngIf="detailFlag" type="text" formControlName="prodType" class="col-12 detail__modal--input">
            <!-- update modal -->
            <select *ngIf="!detailFlag" class="col-12 select__style" formControlName="prodType"
              (change)="getProdByType($event.target.value, i)">
              <option value="default" disabled hidden>choose Product Category first</option>
              <option *ngFor="let prodType of prodTypes[i]" [value]="prodType.ProdTypeId">{{prodType.ProdTypeName}}
              </option>
            </select>
            <!-- validator required -->
            <div
              *ngIf="prods.get('prodType').invalid && (prods.get('prodType').dirty || prods.get('prodType').touched)">
              <small *ngIf="prods.get('prodType').errors.required" class="alert__message--red">
                Product Type is required.
              </small>
            </div>
          </div>
        </div>
        <!-- line 4-->
        <div class="row">
          <div class="col-6">
            <label class="label__style">Product Name:</label>&nbsp;
            <!-- detail modal -->
            <input *ngIf="detailFlag" type="text" formControlName="prod" class="col-12 detail__modal--input">
            <!-- update modal -->
            <select *ngIf="!detailFlag" class="col-12 select__style" formControlName="prod">
              <option value="default" disabled>choose Product Type first</option>
              <option *ngFor='let prodName of prodNames[i]' [value]="prodName.ProductId">{{prodName.ProductName}}
              </option>
            </select>
            <!-- validator required -->
            <div *ngIf="prods.get('prod').invalid && (prods.get('prod').dirty || prods.get('prod').touched)">
              <small *ngIf="prods.get('prod').errors.required" class="alert__message--red">
                Product Name is required.
              </small>
            </div>
          </div>
          <div class="col-6">
            <label class="label__style">Product Quantity:</label>&nbsp;
            <!-- detail modal -->
            <input *ngIf="detailFlag" type="text" class="col-12 detail__modal--input" formControlName="appliedQty">
            <!-- update modal -->
            <div *ngIf="!detailFlag" class="col-12 p-0 d-inline-flex justify-content-around arithmetic__btn">
              <button class="minus__btn" (click)="minusQty(i)">-</button>
              <input type="text" class="input__number--style" formControlName="appliedQty">
              <button class="increase__btn" (click)="increaseQty(i)">+</button>
            </div> 
            <div
              *ngIf="prods.get('appliedQty').invalid && (prods.get('appliedQty').dirty || prods.get('appliedQty').touched)">
              <small *ngIf="prods.get('appliedQty').errors?.required" class="alert__message--red">
                Quantity is required.
              </small>
              <small *ngIf="prods.get('appliedQty').errors?.pattern" class="alert__message--red">
                Quantity must be number greater than 0.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- add more btn  -->
    <!-- detail modal -->
    <!-- <div *ngIf="detailFlag" class="p-3"></div> -->
    <!-- update modal -->
    <div *ngIf="!detailFlag" class="d-flex justify-content-end" style="margin-top: 10px">
      <button class="btn btn-info t_info_addmore_btn" [disabled]="productIdQty.invalid" (click)="addProduct(i)">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </form>
</div>