.loaderLarge {
  position: fixed;
  top: 40%;
  left: 50%;
}
.container {
  min-height: 800px;
  overflow: scroll;
}
.btn__add--right {
  height: 30px;
  width: 130px;
  margin-right: 10px;
}
.btn__search--right {
  height: 30px;
  width: 130px;
  margin-left: 20px;
}
.input__datebar {
  width: 200px;
  height: 38px;
}
.undo__msg {
  margin: 20px auto;
}
.table__row--fade {
  color: red;
}
a {
  cursor: pointer;
}
.title--center {
  height: 60px;
  font-size: 30px;
  font-weight: 330;
  line-height: 60px;
  color: grey;
  text-align: center;
}
li {
  list-style-type: none;
  margin: 0px;
}
.sorting--cursor:hover,
.table__btn--cursor:hover, 
.table__header--cursor:hover
{
  cursor: pointer;
}
.table_row--highlight {
  background-color: aquamarine;
  border: 1px solid rgb(223, 209, 209)
}
/* .table__row--hover:hover {
  background-color: #fff;
} */