<!-- loading -->
<div *ngIf="loadingFlag" class="loaderLarge"></div>

<!-- after fetch data success -->
<div class="container" *ngIf="!loadingFlag">
  <div class="title--center">
    Stock Application
  </div>
  <div class="d-flex">
    <form [formGroup]="dateForm">
      <p class="selection__text">Select a period of date:</p>
      <div class="d-flex form">
        <!-- begin date -->
        <div class="input-group input__datebar">
          <input class="form-control" style="height: 30px;" placeholder="yyyy-mm-dd" ngbDatepicker
            #beginDate="ngbDatepicker" (dateSelect)="onBeginDateSelect($event)" formControlName="beginDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" style="height: 30px;" (click)="beginDate.toggle()">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        <!-- To -->
        <div style="margin-left: 10px; margin-right: 10px;">To</div>
        <!-- end date -->
        <div class="input-group input__datebar">
          <input class="form-control" style="height: 30px;" placeholder="yyyy-mm-dd" ngbDatepicker
            #endDate="ngbDatepicker" (dateSelect)="onEndDateSelect($event)" formControlName="endDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" style="height: 30px; line-height: 0;"
              (click)="endDate.toggle()">
              <i class="far fa-calendar-alt"></i>
            </button>
          </div>
        </div>
        <!-- select button -->
        <button class="btn btn-info btn__search--right" (click)="selectPeriod()">
          <i class="fas fa-search"></i>Search
        </button>
      </div>
    </form>
    <!-- search bar -->
    <div *ngIf="headOfficeFlag" class="ml-auto">
      <input type="text" [(ngModel)]="searchBy" (keyup)="keyup()" class="search__bar" placeholder="search by name or location" >
    </div>
    <!-- add more btn -->
    <div class="ml-auto" *ngIf="!headOfficeFlag">
      <button class="btn btn-info btn__add--right" (click)="updateModal(2, null)">
        + Add More
      </button>
    </div>
  </div>
  <!-- delete message -->
  <div *ngIf="isDeleted" class="text-center undo__msg">
    <i class="fa fa-check-circle"></i>
    <span class="font-weight-bold m-1">This order has already removed.
      <a class="text-primary font-weight-bold" (click)="undo()">Undo</a>
    </span>
  </div>
  <!-- delete failure -->
  <div *ngIf="deleteFailed">
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
  <!-- table info -->
  <div>
    <table class="table table-striped" style="text-align: center;">
      <thead>
        <tr class="table__header--cursor">
          <th scope="col" style="width:5rem;">#</th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('StaffName')">
            Application Id
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('StaffName')">
            Staff Name
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem" (click)="onSort('Org')">
            Location
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem" (click)="onSort('ApplyAt')">
            Apply At
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('ApplyReason')">
            Apply Reason
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('ProductType')">
            Product Name
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('ProductQuantity')">
            Product QTY
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"
            (click)="onSort('ProcessStatus')">
            Process Status
          </th>
          <th scope="col" class="sorting--cursor" style="width:10rem"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__row--hover" *ngFor="let item of stockApplication | 
            slice: (page-1)* pageSize : (page-1) * pageSize + pageSize; let i = index"
          [ngClass]="{'tr--highlight': item.ApplicationId == applicationId}">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.ApplicationId }}</td>
          <td><ngb-highlight [result]="item.ApplyStaff.FirstName" [term]="searchBy"></ngb-highlight></td>
          <td><ngb-highlight [result]="item.Org.OrgName" [term]="searchBy"></ngb-highlight></td>
          <td>{{ item.ApplyAt | date:"shortDate" }}</td>
          <td>{{ item.ApplyReason }}</td>
          <td>
            <li *ngFor="let detail of item.ApplicationDetails">{{ detail.Product.ProductName }}</li>
          </td>
          <td>
            <li *ngFor="let detail of item.ApplicationDetails">{{ detail.AppliedQty }}</li>
          </td>
          <td>{{ item.ProcessStatus | processStatus}}</td>
          <td *ngIf="headOfficeFlag">
            <div class="d-flex justify-content-around">
              <span class="table__btn--cursor" (click)="detailModal(1, item)">
                <i class='fas fa-info-circle'></i>
              </span>
              <span class="table__btn--cursor" (click)="replyModal(1, item)">
                <i class="fas fa-comment"></i>
              </span>
            </div>
            <div c class="d-flex justify-content-around">
              <span class="table__btn--cursor" (click)="deliver(4, item)">
                <i class="fas fa-truck"></i>
              </span>
              <span class="table__btn--cursor" (click)="delete(item)">
                <i class="fas fa-comments"></i>
              </span>
            </div>
          </td>
          <td *ngIf="!headOfficeFlag">
            <span class="table__btn--cursor" (click)="detailModal(1, item)">
              <i class='fas fa-info-circle'></i>
            </span>
            <span class="table__btn--cursor" (click)="updateModal(2, item)">
              <i class='fas fa-pen'></i>
            </span>
            <span class="table__btn--cursor" (click)="delete(item)">
              <i class="fas fa-trash-alt"></i>
            </span>
            <span class="table__btn--cursor" (click)="delete(item)">
              <i class="fas fa-comments"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- pagination -->
  <div>
    <ngb-pagination #pagination [collectionSize]="stockApplication.length" [(page)]="page" [pageSize]="pageSize"
      (click)="getCurrentPage()">
    </ngb-pagination>
  </div>
</div>