.loaderLarge {
  position: fixed;
  top: 40%;
  left: 50%;
}
.container {
  min-height: 800px;
  overflow: scroll;
}
.btn__add--right {
  height: 30px;
  width: 130px;
  margin-right: 10px;
  margin-top: 40px
}
.btn__search--right {
  height: 30px;
  width: 130px;
  margin-left: 20px;
}
.input__datebar {
  width: 200px;
  height: 38px;
}
.undo__msg {
  margin: 20px auto;
}
a {
  cursor: pointer;
}
.title--center {
  height: 60px;
  font-size: 30px;
  font-weight: 330;
  line-height: 60px;
  color: grey;
  text-align: center;
}
li {
  list-style-type: none;
  margin: 0px;
}
.table__btn--cursor {
  margin-right: 1rem;
}
.sorting--cursor:hover,
.table__btn--cursor:hover, 
.table__header--cursor:hover
{
  cursor: pointer;
}
.table__row--hover:hover,
.table__row--hover:focus {
  background-color: #fff;
}
.tr--highlight {
  box-shadow: 0 0 6px #17a2b8;
}
.fa-check-circle {
  color: green;
}
.search__bar {
  width: 15rem;
  margin-top: 40px;
  margin-right: 10px;
  padding-left: 5px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: center; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
  text-align: center;
}

