.loaderLarge {
    position: fixed;
    top: 40%;
    left: 50%;
  }
  
  .tl_body {
    min-height: 800px;
  }
  
  .t_info_title {
    height: 60px;
    font-size: 30px;
    font-weight: 330;
    line-height: 60px;
    color: grey;
    text-align: center;
  }
  
  .search_bar {
    float: left;
    margin-left: 150px;
  }
  
  .t_info_addmore_btn {
    height: 30px;
    width: 100px;
    line-height: 17px;
    /* margin-right: -30px; */
    float: left;
    cursor: pointer;
  }
  
  .input_datebar {
    float: left;
    width: 171px;
    height: 38px;
    margin-right: 10px;
  }
  
  .label_p {
    margin-bottom: 0;
    line-height: 30px;
    font-size: 17px;
    margin-right: 10px;
    float: left;
  }
  
  .t_info_search_bar {
    float: left;
    width: 230px;
  }
  
  .t_info_search_icon {
    float: left;
    line-height: 33px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .sorting_item:hover {
    cursor: pointer;
  }
  
  .tl_body_table_btn {
    font-size: 20px;
    color: #55554f;
  }
  
  .tl_body_table_btn:hover {
    cursor: pointer;
  }
  li {
    list-style-type: none;
    margin: 0px;
  }