
.nav {
    padding-top: 30px;
}
.nav-tab {
    color: rgb(77, 102, 240);
    padding: 10px;
    margin-left: 10px;
    border: 1px solid rgb(77, 102, 240);
    border-radius: 10px;
    border-bottom: none;
}
.card-body {
    background-color:#F0F8FF;
}
a {
    text-decoration: none;
}
a:visited {
    color: rgb(77, 102, 240);
}
  
a:hover {
    background-color: white;
}
a:active {
    color: rgb(228, 31, 129);
}
.button_add, .button_delete, .button_edit, .button_reset {
    /* background-color: white;
    color: #0699CD; */
    border: 0px;
    /* padding: 5px 10px; */
    /* border-radius: 4px; */
    cursor: pointer;
    /* font-size: 13px; */
}

button {
    background-color: white;
    color: rgb(77, 102, 240);
    border: 2px solid rgb(77, 102, 240);
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    }
button:hover {
    background-color: rgb(77, 102, 240);
    color: white;
    }
.btn_submit:disabled, .btn_next:disabled {
    opacity: 0.6;
    color: black;
    cursor: not-allowed;
    } 
.nav-link.active {
    color: rgb(77, 102, 240);
}
div.photo input {
    /* background:url(src/assets/picture/photo.jpg) no-repeat; */
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: none;
}
