<!--loading-->
<div *ngIf='loadingFlag' class="loaderLarge"></div>


<div *ngIf='!loadingFlag' class='t_mf_form'>
  <form novalidate [formGroup]='updateForm'>
    <div class='row'>
      <!--上半部分-->
      <div class='col-12'>
        <div class='row'>
          <!--img area-->
          <div class='col-4'>
            <div class='row'>
              <div class='col-6'>
                <div class='t_mf_img_switch' [class.t_mf_img_switch_left]='showLeftImgFlag' id='img_left_control'
                  (click)='switchImg(0)' style="margin-right:5px">
                  <span class='fas fa-image'></span><span> Staff</span>
                </div>
              </div>
              <div class='col-6'>
                <div class='t_mf_img_switch' [class.t_mf_img_switch_right]='showRightImgFlag' id='img_right_control'
                  (click)='switchImg(1)' style="margin-left: 5px;">
                  <span class='fas fa-address-card'></span><span> Id</span>
                </div>
              </div>
            </div>
            <div class='row t_mf_img' id='img_left'>
              <img [src]="getPhotoSrc('Photo')" id='Photo' (error)='setDefaultPhoto($event)' />
              <input *ngIf='!readOnlyFlag' type="file" name="file1" id="file1" class="tl_muf_upload_img"
                accept="image/*" (change)='preViewImg($event,"Photo")' formControlName='Photo' />
              <label *ngIf='!readOnlyFlag' for="file1" class='btn btn-sm tl_mf_upload_btn'><span
                  class='fas fa-plus tl_mf_upload_title'></span></label>
            </div>
            <div class='row t_mf_img' id='img_right' style="display:none">
              <img [src]="getPhotoSrc('IdPhoto')" id='IdPhoto' (error)='setDefaultPhoto($event)'>
              <input *ngIf='!readOnlyFlag' type="file" name="file2" id="file2" class="tl_muf_upload_img"
                accept="image/*" (change)='preViewImg($event,"IdPhoto")' formControlName='IdPhoto' />
              <label *ngIf='!readOnlyFlag' for="file2" class='btn btn-sm tl_mf_upload_btn'><span
                  class='fas fa-plus tl_mf_upload_title'></span></label>
            </div>
          </div>

          <!-- input area -->
          <div class='col-lg-8'>
            <div style="margin-right:10px">
              <div class='row'>
                <!-- first Name -->
                <div class="col-6">
                  <label class="t_mf_label">First Name:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.FirstName.invalid && updateForm.controls.FirstName.touched || updateForm.controls.FirstName.dirty">
                      <span *ngIf="updateForm.controls.FirstName.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="FirstName" type="text"
                    [class.t_mf_error_border]='updateForm.get("FirstName").invalid && updateForm.get("FirstName").touched'>
                </div>

                <!-- Last Name -->
                <div class="col-6">
                  <label class="t_mf_label">Last Name:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.LastName.invalid && updateForm.controls.LastName.touched || updateForm.controls.LastName.dirty">
                      <span *ngIf="updateForm.controls.LastName.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="LastName" type="text"
                    [class.t_mf_error_border]='updateForm.get("LastName").invalid && updateForm.get("LastName").touched'>
                </div>

                <!-- role -->
                <div class="col-6">
                  <label class="t_mf_label">Role:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.RoleId.invalid && updateForm.controls.RoleId.touched || updateForm.controls.RoleId.dirty">
                      <span *ngIf="updateForm.controls.RoleId.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <select name='RoleId' class='col-12 t_mf_input' formControlName='RoleId'
                    [class.t_mf_error_border]='updateForm.get("RoleId").invalid && updateForm.get("RoleId").touched'>
                    <option *ngFor='let i of typeList' value={{i.PropName}}>{{i.PropName}}</option>
                  </select>
                </div>

                <!-- Visa -->
                <div class="col-6">
                  <label class="t_mf_label">Visa Type:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.Visa.invalid && updateForm.controls.Visa.touched || updateForm.controls.Visa.dirty">
                      <span *ngIf="updateForm.controls.Visa.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="Visa" type="text"
                    [class.t_mf_error_border]='updateForm.get("Visa").invalid && updateForm.get("Visa").touched'>
                </div>

                <!--  Visa expiry date-->
                <div class="col-6">
                  <label class="t_mf_label">Visa Expiry date:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.ExpiryDate.invalid && updateForm.controls.ExpiryDate.touched || updateForm.controls.ExpiryDate.dirty">
                      <span *ngIf="updateForm.controls.ExpiryDate.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="ExpiryDate" type="date"
                    [class.t_mf_error_border]='updateForm.get("ExpiryDate").invalid && updateForm.get("ExpiryDate").touched'>
                </div>

                <!-- dob -->
                <div class="col-6">
                  <label class="t_mf_label">Date of Birth:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.Dob.invalid && updateForm.controls.Dob.touched || updateForm.controls.Dob.dirty">
                      <span *ngIf="updateForm.controls.Dob.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="Dob" type="date"
                    [class.t_mf_error_border]='updateForm.get("Dob").invalid && updateForm.get("Dob").touched'>
                </div>

                <!-- Gender -->
                <div class="col-6">
                  <label class="t_mf_label">Gender:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.Gender.invalid && updateForm.controls.Gender.touched || updateForm.controls.Gender.dirty">
                      <span *ngIf="updateForm.controls.Gender.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <select name='Gender' type="text" class='col-12 t_mf_input' formControlName='Gender'
                    [class.t_mf_error_border]='updateForm.get("Gender").invalid && updateForm.get("Gender").touched'>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                  </select>
                </div>

                <!-- IrdNumber -->
                <div class="col-6">
                  <label class="t_mf_label">Ird Number:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.IrdNumber.invalid && updateForm.controls.IrdNumber.touched || updateForm.controls.IrdNumber.dirty">
                      <span *ngIf="updateForm.controls.IrdNumber.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="IrdNumber" type="text"
                    [class.t_mf_error_border]='updateForm.get("IrdNumber").invalid && updateForm.get("IrdNumber").touched'>
                </div>

                <!-- IdType -->
                <div class="col-6">
                  <label class="t_mf_label">ID Type:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.IdType.invalid && updateForm.controls.IdType.touched || updateForm.controls.IdType.dirty">
                      <span *ngIf="updateForm.controls.IdType.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <select name='IdType' type="text" class='col-12 t_mf_input' formControlName='IdType'
                    [class.t_mf_error_border]='updateForm.get("IdType").invalid && updateForm.get("IdType").touched'>
                    <!--让后台传id type-->
                    <option *ngFor='let i of idTypeList' value={{i.idTypeId}}>{{i.idTypeName}}</option>
                  </select>
                </div>

                <!-- IdNumber -->
                <div class="col-6">
                  <label class="t_mf_label">ID Number:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.IdNumber.invalid && updateForm.controls.IdNumber.touched || updateForm.controls.IdNumber.dirty">
                      <span *ngIf="updateForm.controls.IdNumber.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="IdNumber" type="text"
                    [class.t_mf_error_border]='updateForm.get("IdNumber").invalid && updateForm.get("IdNumber").touched'>
                </div>

                <!-- MobilePhone -->
                <div class="col-6">
                  <label class="t_mf_label">Mobile Phone:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.MobilePhone.invalid && updateForm.controls.MobilePhone.touched || updateForm.controls.MobilePhone.dirty">
                      <span *ngIf="updateForm.controls.MobilePhone.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="MobilePhone" type="text"
                    [class.t_mf_error_border]='updateForm.get("MobilePhone").invalid && updateForm.get("MobilePhone").touched'>
                </div>

                <!-- HomePhone -->
                <div class="col-6">
                  <label class="t_mf_label">Home Phone:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.HomePhone.invalid && updateForm.controls.HomePhone.touched || updateForm.controls.HomePhone.dirty">
                      <span *ngIf="updateForm.controls.HomePhone.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="HomePhone" type="text"
                    [class.t_mf_error_border]='updateForm.get("HomePhone").invalid && updateForm.get("HomePhone").touched'>
                </div>

                <!-- Email -->
                <div class="col-6">
                  <label class="t_mf_label">Email:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.Email.invalid && updateForm.controls.Email.touched || updateForm.controls.Email.dirty">
                      <span *ngIf="updateForm.controls.Email.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <input class="t_mf_input col-12" formControlName="Email" type="text"
                    [class.t_mf_error_border]='updateForm.get("Email").invalid && updateForm.get("Email").touched'>
                </div>

                <!-- branch -->
                <div class="col-6" >
                  <label class="t_mf_label">Branch:
                    <span class="promptmessage"
                      *ngIf="updateForm.controls.branch.invalid && updateForm.controls.branch.touched || updateForm.controls.branch.dirty">
                      <span *ngIf="updateForm.controls.branch.errors?.required">
                        required
                      </span>
                    </span>
                  </label>
                  <div *ngFor='let j of orgList' class='col-12' >
                    <label class='col-11 t_mf_branch_orgs'
                      style="font-size:15px; text-align:left; margin:0px; padding:0px;">{{j.OrgName.replace('BRANCH','')}}</label>
                    <input value={{j.OrgId}} class=" col-1" formControlName="branch" type="checkbox"
                    [checked]='setDefaultBranchSelection(j.OrgId)'>
                  </div>
                </div>

              </div>
            </div>
          </div>





        </div>
      </div>
    </div>
  </form>
</div>
