<div class="modal-header">
  <h4 class="modal-title" *ngIf="whichOrder.IsDisputed === 0 || !headOfficeFlag">
    Process Status
  </h4>
  <h4 class="modal-title text-danger" *ngIf="whichOrder.IsDisputed === 1 && headOfficeFlag">
    There is a dispute !!
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body"> 
  <app-stock-application-process-status 
    [command]="command" [whichOrder]="whichOrder" [processFlag]="processFlag">
  </app-stock-application-process-status>
</div>
<div class="modal-footer">
  <button class="btn btn-outline-dark" *ngIf="whichOrder.IsDisputed === 1 && headOfficeFlag && role === 5" (click)="handleDispute()">Solve</button>
  <button class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>