
<div class="time-picker"> 
  <div *ngFor="let o of teacherAvailableData.Data.AvailableDay">{{o.DayOfWeek | weekFormat}}:&nbsp;  
    <ol *ngFor="let org of o.Orgs">{{org.OrgId}}{{org.OrgName}}</ol>
  </div>
  <div class="weekly-schedule">
    <div class="hour-labels">
      <div class="hour-label" *ngFor="let hour of hours">{{hour}}:00</div>
    </div>
    <div class="days">
      <div class="day" *ngFor="let x of xIndex; let i = index">
        <div class="day-label">{{weekdays[x]}}</div>
        <div class="slots">
          <div class="slot" *ngFor="let y of yIndex; let i = index" 
          [ngClass]="{'slot-bottom': i%4==3,
                      'availableDayIsBlue': slot[x][y] == 'isAvailable',
                      'unableToPickAvailableIsBlue': slot[x][y] == 'isAvailableButUnableToPick',
                      'arrangedIsRed': slot[x][y] == 'isArranged',
                      'dayOffIsGray': slot[x][y] == 'isDayOff', 
                      'tempChangeIsYellow': slot[x][y] == 'isTempChange',
                      'ableToPickIsGreen': slot[x][y] == 'ableToPick',
                      'availableButUnableToPick': slot[x][y] == 'tOrgNotIncludesLorg',
                      'oneHourUnableToPick': slot[x][y] == 'oneHourUnableTopick'
                    }" 
          (mouseover)="mouseoverSlot(x,y)" (mouseout)="mouseoutSlot(x,y)">
          <small *ngIf="slot[x][y]">{{learnerName[x][y]}}</small>
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <!-- color meanings -->
</div>
