
.weekly-schedule {
  display: table;
  background-color: #f5f5fa;
  border: 1px solid #ddd;
  padding: 10px;
}
.hour-labels {
  display: table-cell;
  width: 50px;
}
.hour-label {
  font-size: 13px;
  text-align: center;
  margin-right: 7px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  top: 38px;
}
.days {
  border: 1px solid rgb(182, 178, 178);
}
.day {
  display: table-cell;
  border: 1px solid #ddd;
}
.day-label {
  background-color: #eaeaf0;
  padding: 10px;
  text-align: center;
  line-height: 40px;
  width: 10vw;
}
.slots {
  border-top: 1px solid rgb(182, 178, 178);
}
.slot {
  border-bottom: 1px dotted #e0e0e0;
  height: 10px;
}
/* .slot:last-child {
  border-bottom: none;
} */
.slot-bottom {
  border-bottom: 1px solid #ddd;
}
.button {
  margin-top: 10px;
  margin-right: 20px;
}
.arrangedIsRed {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  border: 0px;
  opacity: 0.5;
  border-bottom: 1px dotted #e0e0e0;
}
.availableDayIsBlue {
  background-color: rgba(15, 191, 235, 0.5);
  border-radius: 3px;
  border: 0px;
  opacity: 0.5;
  border-bottom: 1px dotted #e0e0e0;
}
.dayOffIsGray {
  background-color: rgba(115, 111, 116, 0.5);
  border-radius: 3px;
  border: 0px;
  opacity: 0.5;
  border-bottom: 1px dotted #e0e0e0;
}
.tempChangeIsYellow {
  background-color: rgba(248, 220, 59, 0.5);
  border-radius: 3px;
  border: 0px;
  opacity: 0.5;
  border-bottom: 1px dotted #e0e0e0;
}
.ableToPickIsGreen {
  background-color: rgba(6, 104, 19, 0.5);
  border-radius: 3px;
  border: 0px;
  opacity: 0.5;
  border-bottom: 1px dotted #e0e0e0;
}
.unableToPickIsGray {
  background-color: rgb(59, 55, 55);
  border-radius: 3px;
  border: 0px;
  opacity: 0.1;
  border-bottom: 1px dotted #e0e0e0;
}
  /* display: none; 
 position: absolute;
  right: 4px;
  top: 2px; */

/* .rmws-event {
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0, 0.75);
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(155, 0, 0, 0.75);
  left: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 4px;
  position: absolute;
  right: 0;
  z-index: 10;
}
.rmws-event .rmws-time {
  font-size: 12px;
  font-weight: 300;
}
.rmws-event .rmws-handle {
  cursor: row-resize;
  height: 7px;
  left: 0;
  right: 0;
  position: absolute;
}
.rmws-event .rmws-handle.rmws-handle-bottom {
  bottom: -1px;
}
.rmws-event .rmws-handle.rmws-handle-top {
  top: -1px;
}
.rmws-event .rmws-close {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 4px;
  top: 2px;
}
.rmws-event .rmws-close:after {
  content: "\f00d";
  font-family: FontAwesome;
}
.rmws-event:hover .rmws-close {
  display: block;
} */
