
<div class="time-picker"> 
  <!-- location -->
  <button class="btn btn-info">Org1</button>
  <button class="btn btn-info">Org2</button>
  <div class="weekly-schedule">
    <div class="hour-labels">
      <div class="hour-label" *ngFor="let hour of hours">{{hour}}:00</div>
    </div>
    <div class="days">
      <div class="day" *ngFor="let x of xIndex; let i = index">
        <div class="day-label">{{weekdays[x]}}</div>
        <div class="slots">
          <div class="slot" *ngFor="let y of yIndex; let i = index" 
          [ngClass]="{'slot-bottom': i%4==3, 'arrangedIsRed': slotArranged[x][y] == 'isArranged',
                      'availableIsGreen': slotAvailable[x][y] == 'isAvailable' && !(slotAvailable[x][y] == 'isAvailable' && slotArranged[x][y] == 'isArranged'),
                      'dayOffIsGray': slotDayOff[x][y] == 'isDayOff', 'tempChangeIsYellow': slotTempChange[x][y] == 'isTempChange'
                    }" 
          (click)="clickSlot(x,y)">
            <small *ngIf="slotArranged[x][y] == 'isArranged'" >{{slotArrangedLearnerName[x][y]}}</small>
            <small *ngIf="slotDayOff[x][y]" >{{slotDayOffLearnerName[x][y]}}</small>
            <small *ngIf="slotTempChange[x][y]" >{{slotTempChangeLearnerName[x][y]}}</small>
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="button d-flex justify-content-end">
    <button class="mx-3" (click)="clearSlot()">Clear</button>
    <button (click)="confirmSlot()">Confirm</button>
    <p *ngIf="pselect">{{confirmTime}}</p>
  </div>
</div>
