<div class="tab-container" [class.d-none]="!isPopup">
  <!-- <div *ngIf='loadingFlag'>
    <div class="loaderLarge"></div>
  </div> -->
  <!-- <div *ngIf='!loadingFlag'> -->
  <div>
    <div class="tab__header">
      <span class="tab__label">Messages</span>
      <span>({{msgNumber}})</span>
    </div>
    <div class="tab__content">
      <div *ngFor="let msg of messages; let i = index">
        <p>Sender: {{msg.sender}}</p>
        <p>Content: {{msg.content}}</p>
        <p>Send At: {{msg.sendAt}}</p>
      </div>
    </div>
    <div class="tab__footer">
      <button class="clear__btn bg-info">Clear Msgs</button>
    </div>
  </div>
</div>