<div class="tab-container" [class.d-none]="closeNotification" (click)="stopCloseNotification($event)">
  <div class="tab__header">
    <p class="tab__label">You have {{msgNumber? msgNumber : 0}} new messages</p>
  </div>
  <ngb-tabset>
      <ngb-tab title="Todos">
        <ng-template ngbTabContent>
            <div *ngIf="!isCleared" class="tab__content">
                <ul *ngFor="let msg of messages; let i = index" (click)="handleIsRead(msg)"
                  [ngClass]="{'isRead': msg.IsRead === 0}">
                  <li>
                    <span>From {{msg.FirstName}}</span>
                  </li>
                  <li class="tab__content__msg d-flex">
                    <span *ngIf="msg.ReadMore">{{msg.SliceMsg? msg.SliceMsg: msg.Notice}}</span>&nbsp;&nbsp;
                    <span *ngIf="msg.ReadMore" (click)="readMore(i,1)" class="tab__read__more">. . .</span>
                    <span *ngIf="!msg.ReadMore">{{msg.Notice}}</span>
                    <span *ngIf="!msg.ReadMore && msg.SliceMsg" (click)="hiddenRestMsg(i,1)"
                      class="tab__packup align-self-end">Up&nbsp;&uarr;</span>
                  </li>
                  <li>{{msg.CreatedAt|relativeTime}}</li>
                </ul>
              </div>
              <div *ngIf="isCleared" class="tab__content__clear">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/sAuJeJzSKbUmHfBQRzmZ.svg" alt="not found">
                <p>Messages already cleared</p>
              </div>
              <div *ngIf="hiddenClearBtn" class="tab__footer">
                <p class="tab__clear" (click)="clearMsg()">Clear All Messages</p>
              </div>
                    </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Notifications</ng-template>
        <ng-template ngbTabContent>
            <div *ngIf="!isCleared" class="tab__content">
                <ul *ngFor="let msg of toDoList; let i = index" 
                  [ngClass]="{'isRead': msg.IsRead === 0}">
                  <li>
                    <span>From {{msg.ListName}}</span>
                  </li>
                  <li class="tab__content__msg d-flex">
                    <span *ngIf="msg.ReadMore">{{msg.SliceMsg? msg.SliceMsg: msg.ListContent}}</span>&nbsp;&nbsp;
                    <span *ngIf="msg.ReadMore" (click)="readMore(i,2)" class="tab__read__more">. . .</span>
                    <span *ngIf="!msg.ReadMore">{{msg.ListContent}}</span>
                    <span *ngIf="!msg.ReadMore && msg.SliceMsg" (click)="hiddenRestMsg(i,2)"
                      class="tab__packup align-self-end">Up&nbsp;&uarr;</span>
                  </li>
                  <!-- <li>{{msg.CreatedAt|relativeTime}}</li> -->
                </ul>
              </div>
              <div *ngIf="isCleared" class="tab__content__clear">
                <img src="https://gw.alipayobjects.com/zos/rmsportal/sAuJeJzSKbUmHfBQRzmZ.svg" alt="not found">
                <p>Messages already cleared</p>
              </div>
              <div *ngIf="hiddenClearBtn" class="tab__footer">
                <p class="tab__clear" (click)="clearMsg()">Clear All Messages</p>
              </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
</div>