<!--filter label-->
<div class='col-12 t_f_filter_label'> 
  <span class='t_f_filter_label_title'>Filters :&nbsp;&nbsp;</span>
  <span *ngFor='let i of filterName'>
    <span class='t_f_filter_item'>{{i}}</span>
  </span>
</div>

<!--filter Content-->
<div class='col-12'>
  <div *ngFor='let i of filterContent; let index = index' class='row t_f_filter_content'>
    {{filterLabel[index]}}&nbsp;&nbsp;
    <div *ngFor='let j of i;let itemIndex = index' id='{{index+1 + "" + itemIndex}}' style="margin-bottom:2rem">
      <span class='t_f_filter_item' (click)='processFilters(index + 1,itemIndex,j)'>{{j.CourseCategoryName || j.Abbr || (j.FirstName + ' ' + j.LastName)}}</span>
    </div>
  </div>
</div>