<div class="modal-header">
  <h4 *ngIf="whichOrder === null" class="modal-title">Apply New Stock Application</h4>
  <h4 *ngIf="whichOrder" class="modal-title">Edit Stock Application</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-stock-application-form [command]="command" [whichOrder]="whichOrder"
    (sendApplicationForm)="applicationForm = $event">
  </app-stock-application-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" [disabled]="checkFormValid()"
    (click)="handleSubmit()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>