<div class="container">
    <hr>
    <form class='mb-2 ml-2 mr-2' [formGroup]='productListForm' (keydown.enter)="$event.preventDefault()">

        <div class='row justify-content-start'>
            <div class='form-group col-2'>
                <select formControlName="paymentMethod" class='form-control'>
                    <option value=2>Eftpos</option>
                    <option value=3>Online Transfer</option>
                    <option value=1>Cash</option>
                  </select>
            </div>
            <p>Payment method</p>
            <input type="number" min="0" value={{sellPrice}} class="form-control col-1 ml-2 mr-2" disabled> Amount ($)
        </div>
        <div formArrayName="productList">
            <div *ngFor="let li of productList.controls; let j = index">
                <div [formGroupName]='j'>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-success btn-sm m-1" style="border-radius:30%" (click)='addOption()'>+</button>
                        <button *ngIf="productList.controls.length !== 1" style="border-radius:30%" class="btn btn-outline-danger btn-sm m-1" (click)='removeOption(j)'>-</button>
                    </div>
                    <h5>Products Selling To Customer Section {{j+1}}</h5>
                    <div class="row justify-content-start">
                        <div class="form-group col-2">
                            <label>Types</label>
                            <select #districtTypes class="form-control" (change)='selectType(districtTypes,j)'>
                                <option disabled selected>Choose Type..</option>
                                <option *ngFor="let type of types[j]; let k = index" [value]="k"> {{type.ProdCatName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label>Categories</label>
                            <select #districtCat class="form-control" (change)='selectCat(districtCat,j)'>
                                <option selected>Choose Category..</option>
                                <option *ngFor="let category of categories[j].catItem; let l = index" [value]="category.ProdTypeId">{{category.ProdTypeName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label>Products</label>
                            <select #districtProd class="form-control" (change)='selectProd(districtProd,j)'>
                                <option selected>Choose products..</option>
                                <option *ngFor="let product of prodMuti[j].prods; let i = index" [value]="i">{{product.ProductName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label>Number of Product(s)</label>
                            <input type="number" min="1" value="1" class="form-control" formControlName="number" (change)='changeProductPrice()'>
                        </div>
                    </div>
                    <div class='row justify-content-start'>

                        <div class="form-group col-3">
                            <input type="radio" name='discount' (click)='checkRateClick(j)' value='rate' checked='true'>Discount by Percentage (%)
                            <input type="number" min="0" max="100" value='100' class="form-control" formControlName="rate" (change)='changeProductPrice() '>
                        </div>
                        <div class="form-group col-3">
                            <input type="radio" name='discount' (click)='checkMoneyClick(j)' value='money'>Discount by Money ($)
                            <input type="number" min="0" value='0' class="form-control" formControlName="subMoney" (change)='changeProductPrice()'>
                        </div>
                        <div class="form-group col-2">
                            <label>Subtotal ($)</label>
                            <input type="number" formControlName="subTotal" class="form-control" disabled>
                        </div>
                    </div>
                    <hr *ngIf="productList.controls.length !== 1">

                </div>
            </div>
        </div>
        <!-- open method for product modal-->
        <button class="btn btn-primary" (click)="openProd(contentProd)">Send this Payment</button>
        <div class='row justify-content-md-center'>
            <div class="col-md-10">
                <ng-template #contentProd let-modal>
                    <div class="modal-header m-2">
                        <h4>Please Confirm</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                    </div>
                    <!-- modal-body -->
                    <div class="d-flex flex-column">
                        <p> Amount:{{sellPrice}}</p>
                        <ul *ngFor='let prods of productList.controls'>
                            <li>Product Name: {{prods.value.productName}} Price:{{prods.value.price}} Quantity:{{prods.value.number}}</li>
                        </ul>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
</div>
