<div style="margin-top:10px;" class="container">
    <div class="font4">Dashboard</div>
    <div style="" class="text-info">Welcome &nbsp; Bienvenido &nbsp;  Willkommen  &nbsp; добро  &nbsp; пожаловать &nbsp;  欢迎  &nbsp; Manaakitia &nbsp;  Bienvenue</div> 
    <br>
    <div *ngIf="pageloading" class="loaderLarge"></div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div style="max-height:330px; overflow-y:auto" *ngIf="notices" class="card">
                <div class="card-header">
                    Notices
                    <a style="float:right; cursor: pointer; font-size:15px;" (click)="newNoticeFormBuilder(); openOrClosePopOver('right')" class="text-primary">New notice</a>
                    <div [ngbPopover]="noticePopOver" #popOver="ngbPopover" [autoClose]="'outside'" popoverTitle="New Notice" popoverClass="toDoPopoverClass"></div>
                </div>
                <ul *ngFor="let notice of notices" class="list-group list-group-flush">
                    <li class="list-group-item">{{notice.notice}} &nbsp; &nbsp; &nbsp; &nbsp; {{notice.origin}} </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div style="max-height:330px; overflow-y:auto" *ngIf="toDoList" class="card">
                <div class="card-header">
                    Tasks to do
                    <!-- <a style="float:right; cursor: pointer; font-size:15px;" (click)="newTaskFormBuilder(); openOrClosePopOver()" class="text-primary">New Task</a> -->
                </div>
                <!-- <div [ngbPopover]="toDoPopOver" #popOver="ngbPopover" placement="top" [autoClose]="'outside'" popoverTitle="New Task" popoverClass="toDoPopoverClass"></div> -->
                    
                <ul *ngFor="let task of toDoList" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="" [routerLink]="['/' + task.link]">{{task.task}} &nbsp; &nbsp; {{task.origin}} </a> 
                        <a style="float: right; cursor: pointer; font-size:15px;" class="text-danger" (click)="ignoreTask(task.id)"> Ignore </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- <ng-template #toDoPopOver>
    <form novalidate [formGroup]="toDoForm">
        <textarea class="form-control" type="text" placeholder="New task" formControlName="task" rows="2"></textarea>

        <input type="submit" style="margin-top:5px; padding:3px 6px 3px 6px; font-size:14px;"  class="btn btn-info" value="Add" (click)="toDoSubmit()">
        <div *ngIf="formError" class="text-danger">{{formError}}</div>
    </form>
</ng-template> -->

<ng-template #noticePopOver>
    <form novalidate [formGroup]="noticeForm">
        <textarea class="form-control" type="text" placeholder="New notice" formControlName="notice" rows="4"></textarea>

        <input type="submit" style="margin-top:5px; padding:4px 8px 4px 8px; font-size:14px;"  class="btn btn-info" value="Add" (click)="newNoticeSubmit()">
        <div *ngIf="formError" class="text-danger">{{formError}}</div>
    </form>
</ng-template>

