

<!-- <pre>{{ parentForm.value | json }}</pre> -->
<form [formGroup]="registrationForm" class="container">
  <h1 class="font3">Student's Registration</h1>
  <!-- <ul class="nav nav-tabs">
    <li><a class="nav-link active" data-toggle="tab" href="#learnerForm">Learner</a></li>
    <li><a class="nav-link" data-toggle="tab" href="#parentForm">Guardian</a></li>
    <li><a class="nav-link" data-toggle="tab" href="#courseForm">Course</a></li>
  </ul> -->
<div class="tab-content">
  <div id="learnerForm">
    <ul class="learnerForm__nav nav nav-tabs my-3">
      <li><a class="nav-link active">Learner</a></li>
      <li><a class="nav-link disabled">Guardian</a></li>
      <li><a class="nav-link disabled">Course</a></li>
    </ul>
    <div formGroupName="learnerForm" class="card">
      <div class="card-body">
        <div class="button text-right">
          <button class="btn_reset my-3" (click)="resetLearner()">Reset</button>
        </div>
        <div class="learnerPhoto">
          <label for="photo"></label>
          <input formControlName="photo" type="file" (change)="uploadPhoto($event)" id="photo" accept="image/*">
        </div>
        <div class="learnerName row">
          <div class="col-sm-4 col-md-4">
            <label for="firstName">First Name</label>
            <input class="form-control" formControlName="firstName" type="text" id="firstName">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
              <small *ngIf="firstName.errors.required"> First name is required</small>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="middleName">Middle Name</label>
            <input class="form-control" formControlName="middleName" type="text" id="middleName">
          </div>
          <div class="col-sm-4 col-md-4">
            <label for="lastName">Last Name</label>
            <input class="form-control" formControlName="lastName" type="text" id="lastName">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
              <small *ngIf="lastName.errors.required">Last name is required</small>
            </div>
          </div>
        </div>
        <div class="learnerGender-Birthday row">
          <div class="col-sm-6 col-md-6">
            <label for="gender">Gender</label>
            <select class="form-control" formControlName="gender" id="gender">
              <option value="1">male</option>
              <option value="2">female</option>
            </select>
            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
              <small>Gender is required</small>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="birthday">Date of Birth</label>
            <input class="form-control" formControlName="birthday" type="date" id="birthday">
          </div>
        </div>
        <div class="enrollmentDate-location row">
          <div class="col-sm-6 col-md-6">
            <label for="enrollmentDate">Date of Enrollment</label>
            <input class="form-control" formControlName="enrollmentDate" type="date" id="enrollmentDate"
              value="{{today | date }}">
          </div>
          <div class="col-sm-6 col-md-6">
              <label for="location">Location</label>
              <select class="form-control" formControlName="location" id="location">
                 <option *ngFor="let location of locations" [value]="location.OrgName">{{location.OrgName}}</option>
              </select>
          </div>
        </div>
        <div class="contactPhone-email row">
          <div class="col-sm-6 col-md-6">
            <label for="contactPhone">Contact Phone</label>
            <input class="form-control" formControlName="contactPhone" type="tel" id="contactPhone">
          </div>
          <div class="col-sm-6 col-md-6">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" type="email" id="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <small *ngIf="email.errors.required">Email is required</small>
              <small *ngIf="email.errors.pattern">Email is invalid</small>
            </div>
          </div>
        </div>
        <div class="address row">
          <div class="col-sm-6 col-md-6">
            <label for="address">Physical Address</label>
            <input class="form-control" formControlName="address" type="text" id="address">
          </div>
          <div class="col-sm-6 col-md-6">
              <label for="learnerLevel">Your Current Level</label>
              <select class="form-control" formControlName="learnerLevel" (change)="selectLlevel()" id="learnerLevel">
                <option *ngFor="let llevel of learnerLevel" [value]="llevel.PropName">{{llevel.PropName}}</option>
              </select>
              <div *ngIf="isSelectedLevel">
                <span>Did you take exam before?</span><br>
                <div class="d-inline-flex" *ngFor="let levelType of levelType; let i=index">
                  <div *ngIf="i == 0" class="form-check">
                      <input class="form-check-input" name="levelType" id="ABRSM" type="radio" [value]="PropName" checked>
                      <label class="form-check-label" for="ABRSM">ABRSM</label> 
                  </div>
                  <div *ngIf="i != 0" class="form-check">
                    <input class="form-check-input" name="levelType" id="levelType" type="radio" [value]="levelType.PropName">
                    <label class="form-check-label" for="levelType">{{levelType.PropName}}</label> 
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="grade my-3">
          <label for="grade">If you have ABRSM Theory Grade 5, please upload.</label>
          <input formControlName="grade" type="file" (change)="uploadGrade($event)" id="grade" accept="image/*">
        </div>
        <div class="learn purpose">
          <span class="text-primary">Why do you learn the piano?</span><br>
          <div class="d-inline-flex" *ngFor="let learnerPurpose of learnerPurpose">
            <input type="checkbox" >&nbsp;&nbsp;
            <label>{{learnerPurpose.PropName}}</label>
          </div>
        </div>
   
        <div class="how know us">
          <span class="text-primary">How do you know about us?</span><br>
          <div class="d-inline-flex" *ngFor="let howKnown of howKnown">
            <div *ngIf="howKnown.Description == 'How known'">
              <input type="checkbox"><label>{{howKnown.PropName}}</label>
            </div>
          </div>
        <br>
          <span  class="text-info">Newspapers or Magazines:</span>
          <div class="d-inline-flex" *ngFor="let howKnown of howKnown">
            <div *ngIf="howKnown.Description == 'How known: newspapers'">
              <input type="checkbox"><label>{{howKnown.PropName}}</label>
            </div>
          </div>
          <br>
          <span  class="text-info">Websites</span>
          <div class="d-inline-flex" *ngFor="let howKnown of howKnown">
            <div *ngIf="howKnown.Description == 'How known: websites'">
              <input type="checkbox"><label>{{howKnown.PropName}}</label>
            </div>
          </div>
        </div>
        <div class="button text-right">
          <button class="btn_next my-3" [disabled]="learnerForm.invalid"
            (click)="next('parentForm')">Next</button>
        </div>
      </div>
    </div>
  </div>
  <div id="parentForm">
    <ul class="parentForm__nav nav nav-tabs my-3">
      <li><a class="nav-link disabled">Learner</a></li>
      <li><a class="nav-link active">Guardian</a></li>
      <li><a class="nav-link disabled">Course</a></li>
    </ul>
    <div formArrayName="parentForm">
      <div *ngFor="let parent of parentForm.controls; let i=index;" class="card my-3">
        <div [formGroupName]="i" class="card-body">
          <div class="parentForm__button d-flex justify-content-end my-3">
            <button class="btn_reset mx-3" (click)="resetParent()">Reset</button>
            <button class="btn_delete" (click)="deleteParent()">Delete</button>
          </div>
          <div class="parentName-relationship row">
            <div class="col-sm-4 col-md-4">
              <label for="firstName">First Name</label>
              <input class="form-control" formControlName="firstName" type="text" id="firstName">
              <div
                *ngIf="parent.get('firstName').invalid && (parent.get('firstName').dirty || parent.get('firstName').touched)"
                class="text-danger">
                <small *ngIf="parent.get('firstName').errors.required">First name is required.</small>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <label for="lastName">Last Name</label>
              <input class="form-control" formControlName="lastName" type="text" id="lastName">
              <div
                *ngIf="parent.get('lastName').invalid && (parent.get('lastName').dirty || parent.get('lastName').touched)"
                class="text-danger">
                <small *ngIf="parent.get('lastName').errors.required">Last name is required.</small>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <label for="relationship">Relationship</label>
              <select class="form-control" #selectRelationship formControlName="relationship" id="relationship">
                <option value="1">Father</option>
                <option value="2">Mother</option>
                <option value="3">Other</option>
              </select>
              <div
                *ngIf="parent.get('relationship').invalid && (parent.get('relationship').dirty || parent.get('relationship').touched)"
                class="text-danger">
                <small *ngIf="parent.get('relationship').errors.required">Relationship is required.</small>
              </div>
            </div>
          </div>
          <div class="parentContactPhone-Email row">
            <div class="col-sm-6 col-md-6">
              <label for="contactPhone">Parent or Guardian's Phone</label>
              <input class="form-control" formControlName="contactPhone" type="tel" id="contactPhone">
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="email">Email</label>
              <input class="form-control" formControlName="email" type="email" id="email">
              <div *ngIf="parent.get('email').invalid && (parent.get('email').dirty || parent.get('email').touched)"
                style="color: red; margin-bottom: 5px;">
                <small *ngIf="parent.get('email').errors.required">Email is required.</small>
                <small *ngIf="parent.get('email').errors.pattern">Email is invalid</small>
              </div>
            </div>
          </div>
          <div class="parentForm__button my-3 d-flex justify-content-end">
            <button class="btn_back mx-3" (click)="next('learnerForm')">Back</button>
            <button class="btn_next" [disabled]="parentForm.invalid"
              (click)="next('courseForm')">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div class="button text-right">
      <button class="btn_add" (click)="addParent()"><b>Add more parent or guardian</b></button>
    </div>
  </div>
  <div id="courseForm">
    <ul class="courseForm__nav nav nav-tabs my-3">
      <li><a class="nav-link disabled">Learner</a></li>
      <li><a class="nav-link disabled">Guardian</a></li>
      <li><a class="nav-link active">Course</a></li>
    </ul>
    <div>
      <button (click)="chooseGroupCourse()">Group Course</button>
      <button (click)="chooseCustomCourse()">One-on-One Course</button>
    </div> 
    
    <div class="card" *ngIf="isGroupCourse" >
      <div formGroupName="groupCourse" class="select-group-course card-body" >
        <div class="guitar">
          <table class="table">
            <thead>
              <tr>
                <th>Please Check</th>
                <th>Course</th>
                <th>Schedule</th>
                <th>Location</th>
                <th>Room</th>
                <th>Teacher</th>
                <th>How to know us</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let groupCourseInstance of groupCourseInstance">
                <td><input type="checkbox"></td>
                <td>{{groupCourseInstance.Course.CourseName}}</td>             
                <td>
                  <p *ngFor="let schedule of groupCourseInstance.schedule">{{schedule.DayOfWeek | weekFormat}}: {{schedule.BeginTime}}-{{schedule.EndTime}}</p>
                </td>
                <td>{{groupCourseInstance.Org.OrgName}}</td>
                <td>{{groupCourseInstance.Room.RoomName}}</td>
                <td>{{groupCourseInstance.Teacher.FirstName}}</td>
                <td><input formControlName="comment" type="input"></td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button class="btn_back mx-3" (click)="next('parentForm')">Back</button>
            <!-- <button class="btn_submit" [disabled]="registrationForm.invalid">Submit</button> -->
            <button class="btn_submit" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
      <div *ngIf="isCustomCourse" formArrayName="customCourse">
        <div *ngFor="let course of customCourse.controls; let i=index;" class="card my-3">
          <div [formGroupName]="i" class="card-body">
            <div class="customCourseForm__button d-flex justify-content-end my-3">
              <button class="btn_reset mx-3" (click)="resetCustomCourse()">Reset</button>
              <button class="btn_delete" (click)="deleteCustomCourse()">Delete</button>
            </div>
            <div class="selectCourse-yourLever row">
              <div class="col-12">
                <label for="course">Course</label>
                <select class="form-control" formControlName="course" id="course">
                  <!-- more details about -->
                  <option *ngFor="let course of courses" [value]="course">{{course}}</option>
                </select>
              </div>
            </div>
            <div class="location-teacherLevel row">
              <div class="col-sm-6 col-md-6">
                <label for="location">Location</label>
                <select class="form-control"  formControlName="location" id="location" (change)="onSelect($event.target.value)">
                  <option *ngFor="let cInstance of customCourseInstance; let i = index" [value]="i">{{cInstance.OrgName}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="teacherLevel">Teacher Level</label>
                <select class="form-control" formControlName="teacherLevel" id="teacherLevel" (change)="selectTl($event.target.value)">
                  <option *ngFor="let tlevel of teacherLevel; let i = index" [value]="i">{{tlevel.levelName}}</option>
                </select>
              </div>    
              <div class="col-sm-6 col-md-6">
                <label for="teacherName">Teacher Name</label>
                <select class="form-control" formControlName="teacherName" id="teacherName">
                  <option *ngFor="let tName of teacherName; let i = index" [value]="i">{{tName.TeacherName}}</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="customday">Course day</label>
                <select class="form-control" formControlName="customday" id="customday">
                  <option value="1">Monday</option>
                  <option value="2">Tuesday</option>
                  <option value="3">Wednesday</option>
                  <option value="4">Thursday</option>
                  <option value="5">Friday</option>
                  <option value="6">Saturday</option>                
                  <option value="7">Sunday</option>                
                </select>
              </div>
            </div>
            <div class="courseDay-courseHour row">
              <div class="col-sm-4 col-md-4">
                <label for="room">Room No.</label>
                <select class="form-control" name="room" id="room">
                  <option *ngFor="let cRoom of customCourseRoom" [value]="cRoom.RoomName">{{cRoom.RoomName}}</option>
                </select>
              </div>
              <div class="col-sm-4 col-md-4">
                <label for="startDate">Start Date</label>
                <input class="form-control" type="date" id="startDate">
              </div>
              <div class="col-sm-4 col-md-4">
                <label for="endDate">End Date</label>
                <input class="form-control" type="date" id="endDate">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="customTime">Course Time</label>
                <ngb-timepicker [ngModelOptions]="{standalone: true}" [(ngModel)]="time" [size]="'small'" [hourStep]="hourStep" [minuteStep]="minuteStep" ></ngb-timepicker>
              </div>                   
            </div>
            <div class="d-flex my-3 justify-content-end">
              <button class="mx-3 btn_back" (click)="next('parentForm')">Back</button>
              <button [disabled]="registrationForm.invalid" (click)="onSubmit()" class="btn_submit"
                type="submit">Submit</button>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn_add" (click)="addCustomCourse()"><b>Add more courses</b></button>
        </div>
      </div>
    
  </div>
</div>
</form>