::ng-deep .my-class .modal-dialog {
  max-width: 80%;
  width: 80%;
}

.img-border{
  width: 15rem;
  height: 15rem;
  text-align: center!important;
  overflow: hidden;
}
.img-border img{
  max-width: 100%;
  max-height: 60%;
}

/* .gourpFontSize{
  font-size: 10px
} */

/* .inputfile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
} */
