<!-- bootstrap model -->
<div class='container'>
    <div class='row justify-content-md-center'>
        <div class="col-md-10">
            <ng-template #content let-modal>
                <div class="modal-header m-2">
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- modal body which is only contain middlename selector -->
                <div class="modal-body">
                    <div *ngIf='data'>
                        <h3>Middle Name</h3>
                        <form novalidate class="form-group">
                            <select #district class='custom-select' (change)='selectChange(district)'>
                              <option>Please Select The Middle Name</option>
                              <option *ngFor="let learner of data; let i = index" [value]="i">Middle Name: {{learner.MiddleName}} Address: {{learner.Address}}</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Return</button>
                </div>
            </ng-template>
            <!-- others page switch -->
            <form class="form-group">
                <div class="row">
                    <button type="button" class="btn btn-outline-primary btn-sm col-md-2" (click)="showOthers = !showOthers" [attr.aria-expanded]="!showOthers" aria-controls="collapseExample">
                      <span *ngIf='!showOthers'>Other Types</span>
                      <span *ngIf='showOthers'>Invoice/ Products</span>
                    </button>
                </div>
            </form>
            <!-- other payment -->
            <form *ngIf='showOthers' class='form-group' [formGroup]="otherPayment">
                <h6>Other Payment type:</h6>
                <div class='row'>
                    <label class="mt-2">Title of Payment:</label>
                    <input class="col-md-4 mt-2 ml-2 form-control" formControlName="title" [class.is-invalid]="title.invalid && title.touched" type="text" placeholder="Please indicate the title..">
                </div>
                <div class='row'>
                    <label class="mt-2">Amount of Payment: $</label>
                    <input class="col-md-2 mt-2 ml-1 form-control" formControlName="amount" [class.is-invalid]="amount.invalid && amount.touched" type="number" placeholder="Amount..">
                </div>
                <button class="btn btn-primary col-md-2" [disabled]="title.invalid || amount.invalid" (click)="otherPaymentSubmit()">Submit</button>

            </form>
            <!-- open method modal& search name-->
            <form *ngIf='!showOthers' class="form-group" [formGroup]='searchForm'>
                <div class="row justify-content-start">
                    <h6 class="col-md-2 align-bottom">Learner's first name:</h6>

                    <div class="col-md-3">
                        <input type="text" formControlName="search" placeholder="Please enter.." name="firstName" class="form-control" [class.is-invalid]="search.invalid && search.touched">
                        <small [class.d-none]="search.valid || search.untouched " class="text-danger">Learner's name is required</small>
                    </div>

                    <div class="col-md-1"></div>
                    <button [disabled]="search.invalid" class="btn btn-outline-primary" (click)="open(content)">Search</button>
                </div>
            </form>
            <!-- <p [class.d-none]='a'>
            </p> -->
        </div>
    </div>
</div>

<!--attached payment form-->
<div class='switchOthersContainer' *ngIf='!showOthers'>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 container-fluid" *ngIf="registrationFormL.value.learnerId">
                <div class="row">
                    <div class="col-md">
                        <h5>Learner's Information</h5>
                    </div>
                </div>
                <form class="mt-2" [formGroup]="registrationFormL">
                    <div class="row">
                        <div class="form-group col-md">
                            <label><h6>First Name:</h6></label>
                            <input type="text" formControlName="learnerName" class="form-control">
                        </div>

                        <div class="form-group col-md">
                            <label><h6>Last Name:</h6></label>
                            <input type="text" formControlName="lastName" class="form-control">
                        </div>

                        <div class="form-group col-md">
                            <label><h6>Middle Name:</h6></label>
                            <input type="text" formControlName="middleName" class="form-control">
                        </div>

                        <div class='col-md'>
                            <label><h6>Contact Number:</h6></label>
                            <input type="text" formControlName="phone" class="form-control">
                        </div>

                    </div>
                    <hr>
                    <!-- collapse invoice -->
                    <p>
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapsedI = !isCollapsedI" [attr.aria-expanded]="!isCollapsedI" aria-controls="collapseInvoiceProduct">
                      <span *ngIf='isCollapsedI'>Products/ Invoice</span>
                      <span *ngIf='!isCollapsedI'>Invoice/ Products</span>
                    </button>
                    </p>

                    <div id="collapseInvoiceProduct" *ngIf="!isCollapsedI">
                        <!-- tabset -->
                        <ngb-tabset *ngIf="array.length > 1">
                            <ngb-tab *ngFor="let item of dataInvoice; let j = index" [title]=array>
                                <ng-template ngbTabContent>
                                    <!-- invoice form in tabset -->
                                    <h5>Invoice</h5>
                                    <div class='row justify-content-between'>
                                        <div class="col-md-10">
                                            <p>{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate}}</p>
                                            <p>Concert for term 2, 2019</p>
                                            <p>Lesson Note term 2, 2019</p>

                                            <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                                            <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                                            <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>

                                            <p>Payment method: <select #districtPayment (change)="paymentMethod(districtPayment)">
                                              <option value=2>Eftpos</option>
                                              <option value=3>Online Transfer</option>
                                              <option value=1>Cash</option></select></p>
                                            <p>Learner Paid: ${{item.PaidFee}}</p>
                                            <p>Learner Owing Fee: ${{item.OwingFee}}</p>
                                            <div class="row justify-content-start mt-2" [formGroup]="invoiceForm">
                                                <h6 class="col-md-3">Learner Add Fund: </h6>
                                                <p>$</p>
                                                <input type="number" formControlName="owing" placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" [class.is-invalid]="owing.invalid && owing.touched">
                                                <div class="col-md-1"></div>
                                                <!-- open method for confirm payment modal-->
                                                <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="openP(contentP, item)">Send This Payment</button>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <p>${{item.LessonFee}}</p>
                                            <p>${{item.ConcertFee}}</p>
                                            <p>${{item.NoteFee}}</p>
                                            <p>Due Date: {{item.DueDate}}</p>
                                            <h6>All Subject in Total: ${{item.TotalFee}}</h6>
                                        </div>
                                        <!-- comfirm payment modal-->

                                        <div class='row justify-content-md-center'>
                                            <div class="col-md-10">
                                                <ng-template #contentP let-modal>
                                                    <div class="modal-header m-2">
                                                        <h4>Please Confirm The Payment</h4>
                                                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                                    </div>
                                                    <!-- modal-body -->
                                                    <div class="d-flex flex-column">
                                                        <p class='p-2'>Learner Owning Fee: <span class="badge-info">${{item.OwningFee}}</span></p>
                                                        <p class='p-2'>Learner Add Fund: <span class="badge-warning">${{addFund}}</span></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                                                        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                                                    </div>
                                                </ng-template>
                                                <!-- open method -->
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                        <!-- invoice form out tabset-->
                        <div *ngIf="array.length == 1">
                            <h5>Invoice</h5>
                            <div class='row justify-content-between' *ngFor="let item of dataInvoice; let j = index">
                                <div class="col-10">

                                    <p>{{item.LessonQuantity}} Lessons of {{item.CourseName}} from the Date {{item.BeginDate}}</p>
                                    <p>Concert for term 2, 2019</p>
                                    <p>Lesson Note term 2, 2019</p>

                                    <p *ngIf="item.other1FeeName">{{item.Other1FeeName}}: ${{item.Other1Fee}}</p>
                                    <p *ngIf="item.other2FeeName">{{item.Other2FeeName}}: ${{item.Other2Fee}}</p>
                                    <p *ngIf="item.other3FeeName">{{item.Other3FeeName}}: ${{item.Other3Fee}}</p>

                                    <p>Payment method: <select #districtPayment (change)="paymentMethod(districtPayment)">
                                    <option value=2>Eftpos</option>
                                    <option value=3>Online Transfer</option>
                                    <option value=1>Cash</option></select></p>
                                    <p>Learner Paid: ${{item.PaidFee}}</p>
                                    <p>Learner Owing Fee: ${{item.OwingFee}}</p>
                                    <div class="row  justify-content-start mt-2" [formGroup]="invoiceForm">
                                        <h6 class="col-md-3">Learner Add Fund: </h6>
                                        <p class="mt-1">$</p>
                                        <input type="number" formControlName="owing" placeholder="Please enter the amount.." class="form-control col-md-3 ml-2" [class.is-invalid]="owing.invalid && owing.touched">
                                        <div class="col-md-1"></div>
                                        <!-- open method for confirm payment modal-->
                                        <button class="btn btn-primary col-md-3 ml-2" [disabled]="owing.invalid" (click)="openP(contentP, item)">Send This Payment</button>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <p>${{item.LessonFee}}</p>
                                    <p>${{item.ConcertFee}}</p>
                                    <p>${{item.NoteFee}}</p>
                                    <p>Due Date: {{item.DueDate}}</p>
                                    <h6>All Subject in Total: ${{item.TotalFee}}</h6>
                                </div>
                                <!-- comfirm payment modal-->

                                <div class='row justify-content-md-center'>
                                    <div class="col-md-10">
                                        <ng-template #contentP let-modal>
                                            <div class="modal-header m-2">
                                                <h4>Please Confirm The Payment</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <!-- modal-body -->
                                            <div class="d-flex flex-column">
                                                <p class='p-2'>Learner Owning Fee: <span class="badge-info">${{item.OwingFee}}</span></p>
                                                <p class='p-2'>Learner Add Fund: <span class="badge-warning">${{addFund}}</span></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                                                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                                            </div>
                                        </ng-template>
                                        <!-- open method -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- products -->
                    <div *ngIf="isCollapsedI">
                        <form class='mb-2' [formGroup]='productListForm'>
                            <div class='row'>
                                <div class="form-group col">
                                    <label>Discount by Percentage (%)</label>
                                    <input type="number" min="0" max="100" value='100' class="form-control mt-1 mr-2 ml-2" formControlName="rate">
                                </div>
                                <div class="form-group col">
                                    <label>Discount by Money ($)</label>
                                    <input type="number" min="0" value='0' class="form-control mt-1 mr-2 ml-2" formControlName="subMoney">
                                </div>
                                <div class="form-group col">
                                    <label>Amount ($)</label>
                                    <input type="number" min="0" value={{sellPrice}} class="form-control mt-1 mr-2" disabled>
                                </div>
                            </div>
                            <div formArrayName="productList">
                                <div *ngFor="let li of productList.controls; let j = index">
                                    <div [formGroupName]='j'>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-outline-success btn-sm m-1" style="border-radius:30%" (click)='addOption()'>+</button>
                                            <button *ngIf="productList.controls.length !== 1" style="border-radius:30%" class="btn btn-outline-danger btn-sm m-1" (click)='removeOption(j)'>-</button>
                                        </div>
                                        <h5>Products Selling To Customer Section {{j+1}}</h5>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Types</label>
                                                <select #districtTypes class="form-control" (change)='selectType(districtTypes,j)'>
                                      <option disabled selected>Choose Type..</option>
                                      <option *ngFor="let type of types[j]; let k = index" [value]="k"> {{type.ProdCatName}}</option>
                                    </select>
                                            </div>
                                            <div class="form-group col">
                                                <label>Categories</label>
                                                <select #districtCat class="form-control" (change)='selectCat(districtCat,j)'>
                                          <option selected>Choose Category..</option>
                                          <option *ngFor="let category of categories[j].catItem;let l = index" [value]="category.ProdTypeId">{{category.ProdTypeName}}</option>
                                        </select>
                                            </div>
                                            <div class="form-group col">
                                                <label>Products</label>
                                                <select #districtProd class="form-control" (change)='selectProd(districtProd,j)'>
                                          <option selected>Choose products..</option>
                                          <option *ngFor="let product of prodMuti[j].prods; let i = index" [value]="i">{{product.ProductName}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group row justify-content-start">
                                            <div class="form-group col-3">
                                                <label>Number of Product(s)</label>
                                                <input type="number" min="1" value="1" class="form-control mt-1 mr-2" formControlName="number">
                                            </div>
                                        </div>
                                        <pre>{{productListForm.value | json}}</pre>
                                        <hr *ngIf="productList.controls.length !== 1">
                                    </div>
                                </div>
                            </div>
                            <!-- open method for product modal-->
                            <button class="btn btn-primary" (click)="openProd(contentProd)">Send this Payment</button>
                            <div class='row justify-content-md-center'>
                                <div class="col-md-10">
                                    <ng-template #contentProd let-modal>
                                        <div class="modal-header m-2">
                                            <h4>Please Confirm</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <!-- modal-body -->
                                        <div class="d-flex flex-column">
                                            <p> Please Confirm</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" (click)="modal.close('Save')">Confirm</button>
                                            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>