/*
* ==========================================================
*     GENERAL STYLES
* ==========================================================
*/
header .page-header {
    padding: 20px 0;
  }

.page-header {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 8;
  }

  .breadcrumb-holder {
    background: #fff;
  }

  .breadcrumb {
    background: #fff;
    position: relative;
    z-index: 7;
    border-radius: 0;
    padding: 15px 0;
    margin-bottom: 0;
  }
  
  .breadcrumb li.breadcrumb-item {
    color: #aaa;
    font-weight: 300;
  }