<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>Courses & Salary Infomation of tutor&nbsp;<span class='t_cm_title'>{{whichTeacher.FirstName}}
      {{whichTeacher.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info t_cm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--loading-->
<div *ngIf='loadingGifFlag' class="loaderLarge"></div>

<!--modal body-->
<div *ngIf='!loadingGifFlag' class='modal-body'>
  <form action="" [formGroup]='CourseForm'>
    <!--line 1-->
    <div class='row'>
      <div class='col-8'>
        <div style="margin-right: 0">
          <label class='t_cm_label_title'>Full Name:</label>
        </div>
      </div>
      <div class='col-4'>
        <div style="margin-left: 5px">
          <label class='col-12 t_cm_label_title' for="level">Teacher's Level:</label>
          <!-- <input class='col-12 t_mf_input' type="text" id='ability' formControlName='ability'> -->
        </div>
      </div>
    </div>

    <!--line 2-->
    <div class='row'>
      <div class='col-8'>
        <div style="margin-right: 0">
          <input type="text" value={{getFullName()}} class='col-12 t_cm_input' disabled>
        </div>

      </div>
      <div class='col-4'>
        <div style="margin-left: 5px">
          <input type="text" value={{lookupTeacherLevel(whichTeacher.Level)}} class='col-12 t_cm_input' disabled>
        </div>
      </div>
    </div>


    <div class='row'>
      <div class='col-12'>
        <div>
          <label class='col-12 t_cm_label_title' for="ability">Ability Reference:</label>
          <!-- <input class='col-12 t_mf_input' type="text" id='ability' formControlName='ability'> -->
        </div>
      </div>
    </div>

    <div class='row' style="margin-bottom: 5px">
      <div class='col-12'>
        <div>
          <input type="text" value={{whichTeacher.Ability}} class='col-12 t_cm_input' disabled>
        </div>
      </div>
    </div>

    <!--line 3 detail-->
    <div *ngIf='isDetailModeFlag && !disableCourseDivFlag' class="col-12">
      <div class="col-12 t_cm_label_title">Courses Plan:</div>
      <div class='row'>
        <div *ngFor='let i of coursesByTeacher' class='col-6'>
          <div class='t_cm_course' style="margin:5px">
            <div class='row'>
              <div class='col-12 t_cm_name'>
                {{i.Course.CourseName}}
              </div>
            </div>
            <div class='row'>
              <div class='col-4' style="text-align: center">
                {{lookupLevel(i.Course.Level)}}
              </div>
              <div class='col-4' style="text-align: center">
                {{lookupDuration(i.Course.Duration)}}
              </div>
              <div class='col-4' style="text-align: center">
                {{lookupGroup(i.Course.CourseType)}}
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!--line 3 add/edit-->
    <div *ngIf='!isDetailModeFlag' class='col-12'>
      <div class='col-12 t_cm_label_title'>Courses Plan:</div>
      <div class='row'>
        <div *ngFor='let i of coursesCate' class='col-12' style="margin-bottom: 10px">
          <div class='t_cm_course'>
            <div class='row'>
              <div class='col-12 t_cm_label_title t_cm_course_dropdown'
                (click)='toggleCourseOptions($event,i.CourseCategoryName)'
                style="text-align: center;border-bottom: 1px solid lightgrey;background:rgb(173, 216, 230, 0.2)">
                {{i.CourseCategoryName}}
              </div>
              <div style="display: none" id={{i.CourseCategoryName}} class='col-12'>
                <div class='col-12'>
                  <div class='row' style="background:rgb(173, 216, 230, 0.2)">
                    <div class='col-12'>
                      <div style="float:right">
                        <label for="all" style="text-align: center; font-weight:bold;margin-right: 10px"
                          (click)='selectAll(i.CourseCategoryName)' id='select_All'>Select All:&nbsp;</label>
                        <label for="None" style="text-align: center; font-weight:bold;margin-right: 10px"
                          (click)='selectNone(i.CourseCategoryName)' id='select_All'>Select None:&nbsp;</label>
                      </div>
                    </div>
                  </div>
                  <div class='row' style="text-align: center; font-weight:bold ">
                    <div class='col-3'>Course Name:</div>
                    <div class='col-3'>Course Level:</div>
                    <div class='col-3'>Course Type:</div>
                    <div class='col-2'>Duration:</div>
                    <div class='col-1'>tick:</div>

                  </div>
                  <div *ngFor='let j of displayCourse(i.CourseCategoryName)' class='col-12 t_cm_table_striped'>
                    <div class='row' style="text-align: center">
                      <div class='col-3'>{{j.CourseName}}</div>
                      <div class='col-3'>{{j.LevelName}}</div>
                      <div class='col-3'>{{j.CourseTypeName}}</div>
                      <div class='col-2'>{{j.DurationName}}</div>
                      <div class='col-1'>
                        <input #courseCheck type="checkbox" name={{i.CourseCategoryName}} id={{j.CourseType}}
                          value={{j.CourseId}} [checked]='setDefaultCourseSelection(j.CourseId)'>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <!--line 4-->
    <div class='col-12' style="margin-top:-5px">
      <div class='row'>
        <div class='col-12 t_cm_label_title'>Hourly Wage:</div>
      </div>
      <div *ngIf='!isDetailModeFlag'>
        <div class='row'>
          <div class='col-6'>
            <div style="margin-right: 5px">
              <div class='row'>
                <div class='col-4'>One to One:</div>
              </div>
              <div class='row'>
                  <small class='text-danger errorfontsmall col-12'
                  *ngIf='CourseForm.get("PianoRates").invalid && CourseForm.get("PianoRates").touched && CourseForm.get("PianoRates").errors?.required'>required</small>
                <div class='col-2'>
                  Piano:
                </div>
                <div class='col-10' style="margin-bottom: 5px">
                  <input type="text" name="" id="one" class='col-12 t_cm_input'
                    [class.t_cm_error_border]='CourseForm.get("PianoRates").invalid && CourseForm.get("PianoRates").touched'
                    formControlName='PianoRates'>
                </div>

                <small class='text-danger errorfontsmall col-12'
                  *ngIf='CourseForm.get("TheoryRates").invalid && CourseForm.get("TheoryRates").touched && CourseForm.get("TheoryRates").errors?.required'>required</small>
                <div class='col-2'>
                  Theory:
                </div>
                <div class='col-10' style="margin-bottom: 5px">
                  <input type="text" name="" id="one" class='col-12 t_cm_input'
                    [class.t_cm_error_border]='CourseForm.get("TheoryRates").invalid && CourseForm.get("TheoryRates").touched'
                    formControlName='TheoryRates'>
                </div>


                <small class='text-danger errorfontsmall col-12'
                  *ngIf='CourseForm.get("OthersRates").invalid && CourseForm.get("OthersRates").touched && CourseForm.get("OthersRates").errors?.required'>required</small>
                <div class='col-2'>
                  Others:
                </div>
                <div class='col-10'>
                  <input type="text" name="" id="one" class='col-12 t_cm_input'
                    [class.t_cm_error_border]='CourseForm.get("OthersRates").invalid && CourseForm.get("OthersRates").touched'
                    formControlName='OthersRates'>
                </div>
              </div>
            </div>
          </div>
          <div class='col-6'>
            <div style="margin-left: 5px">
              <div class='row'>
                <div class='col-3'>Group:</div>
                <small class='text-danger errorfontsmall col-9'
                  *ngIf='CourseForm.get("GroupRates").invalid && CourseForm.get("GroupRates").touched && CourseForm.get("GroupRates").errors?.required'>required</small>
              </div>
              <div class='col-12'><input type="text" name="" id="group" class='col-12 t_cm_input'
                  [class.t_cm_error_border]='CourseForm.get("GroupRates").invalid && CourseForm.get("GroupRates").touched'
                  formControlName='GroupRates'></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf='isDetailModeFlag'>
        <div class='row'>
          <div class='col-6'>
            <div style="margin-right: 5px">
              <div class='col-12'>One to One:</div>
              <div class='row' style='margin-bottom:5px'>
                <div class='col-2'>
                  Piano:
                </div>
                <div class='col-10'><input type="text" name="" id="one" class='col-12 t_cm_input' [disabled]='true'
                    [value]='getTeacherSalary("piano")'></div>
              </div>
              <div class='row' style='margin-bottom:5px'>
                <div class='col-2'>
                  Theory:
                </div>
                <div class='col-10'><input type="text" name="" id="one" class='col-12 t_cm_input' [disabled]='true'
                  [value]='getTeacherSalary("theory")'></div>
              </div>
              <div class='row' style='margin-bottom:5px'>
                <div class='col-2'>
                  Other:
                </div>
                <div class='col-10'><input type="text" name="" id="one" class='col-12 t_cm_input' [disabled]='true'
                  [value]='getTeacherSalary("others")'></div>
              </div>
            </div>
          </div>
          <div class='col-6'>
            <div style="margin-left: 5px">
              <div class='col-12'>Group:</div>
              <div class='col-12'><input type="text" name="" id="group" class='col-12 t_cm_input' [disabled]='true'
                [value]='getTeacherSalary("group")'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <!-- <span *ngIf='!isDetailModeFlag' class='t_info_table_btn' title="Details" (click)='switchMode(0)'><span
      class='fas fa-info-circle'></span></span> -->
  <span *ngIf='isDetailModeFlag' class='t_info_table_btn' title="Edit" (click)='switchMode(1)'><span
      class='fas fa-pen'></span></span>
  <div *ngIf='onsubmit' class="loaderSmall"></div>
  <span *ngIf='isSuccess' class='text-success' style="font-size:20px">Update Success!</span>
  <span *ngIf='isError' class='text-danger' style="font-size:20px">Please check your inputs!</span>
  <button *ngIf='!isDetailModeFlag&&!isSuccess' type="button" class="btn btn-outline-dark"
    (click)="onSubmit()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>