<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>Courses & Salary Infomation of tutor&nbsp;<span class='t_cm_title'>{{whichTeacher.FirstName}}
      {{whichTeacher.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--loading-->
<div *ngIf='loadingFlag' class="loaderLarge"></div>

<!--modal body-->
<div *ngIf='!loadingFlag' class='modal-body'>
  <form action="">
    <div class='row'>
      <!--line 1-->
      <div class='col-12' style="margin-top:5px">
        <label class='col-12 t_mf_label' for="ability" style="text-align:center">Abilities:</label>
        <!-- <input class='col-12 t_mf_input' type="text" id='ability' formControlName='ability'> -->
      </div>
    </div>
  </form>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>