<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>Change Password</h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<!-- modal body -->
<div class="modal-body">
  <div class="container">
    <form novalidate [formGroup]="myForm">

      <!-- user name -->
      <span class="promptmessage"
        *ngIf="myForm.controls.userName.invalid && myForm.controls.userName.touched ||myForm.controls.userName.dirty">
        <div *ngIf="myForm.controls.userName.errors?.required">
          Please enter your First Name.
        </div>
        <div *ngIf="myForm.controls.userName.errors?.minlength">
          Your first name shall be at least 2 characters.
        </div>
        <div *ngIf="myForm.controls.userName.errors?.maxlength">
          Your first name shall no more than 50 characters.
        </div>
      </span>
      <input class="form-control" placeholder="User Name" formControlName="userName" type="text">

      <br>

      <!-- old password -->
      <span class="promptmessage"
        *ngIf="myForm.controls.password.invalid && myForm.controls.password.touched ||myForm.controls.password.dirty">
        <div *ngIf="myForm.controls.password.errors?.required">
          Please enter your old password
        </div>
      </span>
      <input class="form-control" type="password" placeholder="old password" formControlName="password">

      <br>

     
        <!-- new password -->
       
        <span class="promptmessage"
          *ngIf="myForm.controls.newPassword.invalid && myForm.controls.newPassword.touched ||myForm.controls.newPassword.dirty">
          <div *ngIf="myForm.controls.newPassword.errors?.required">
            Please enter your new password
          </div>
        </span>
        <input name='newPassword' class="form-control" type="password" placeholder="New password" formControlName="newPassword" (change)="myForm.controls.confirm.updateValueAndValidity()">

        <br>
        <!-- confirmation -->
        <span class="promptmessage" 
          *ngIf="myForm.controls.confirm.invalid && myForm.controls.confirm.touched ||myForm.controls.confirm.dirty">
          <div *ngIf="myForm.controls.confirm.errors?.required">
            Please enter your new password again.
          </div>
          <div *ngIf='myForm.controls.confirm.errors?.notEqual'>
            Password and Confirm Password doe not match.
          </div>
          <div *ngIf='myForm.controls.confirm.errors?.equal'>
            Matched
          </div>
        </span>
        <input class="form-control" type="password" appConfirmEqualValidator='newPassword'
          placeholder="Retype new password" formControlName="confirm">
        
    </form>

    <!-- submit -->
    <span class="promptmessage">
      <div *ngIf="!success || myForm.invalid">
        {{errorMessage}}
      </div>
    </span>
    <button (click)="onSubmit()" class="btn btn-primary btn-block btn-lg"> Submit </button>
  </div>
</div>