<!--modal header-->
<div class="modal-header">
  <h4 class="modal-title">Student Leave Duration</h4>
  <button type="button" class='btn btn-sm btn-info tl_dm_btn' aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<form (ngSubmit)="Confirm()" [formGroup]="LearnerLeaveForm">
  <div class='modal-body tl_md_body'>
    <div class="form-group">
      <div class="row">
        <div class="col-5">
          <div>Begin Date</div>
          <input [class.is-invalid]="BeginDate.invalid && BeginDate.touched" type="date" class="form-control" formControlName="BeginDate">
          <small class="text-danger" *ngIf="BeginDate.invalid && BeginDate.touched">Please enter begin date</small>
        </div>
        <div class="col-5">
          <div>End Date</div>
          <input [class.is-invalid]="EndDate.invalid && EndDate.touched" type="date" class="form-control" formControlName="EndDate">
          <small class="text-danger" *ngIf="EndDate.invalid && EndDate.touched">Please enter end date</small>
        </div>
        <div class="col-5">
          <div>Is Invoice Change</div>
          <select formControlName="IsInvoiceChange">
            <option disabled selected value>-- select an option --</option>
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
          <small class="text-danger" *ngIf="IsInvoiceChange.invalid && IsInvoiceChange.touched">Please select IsInvoiceChange</small>
        </div>
      </div>
      <div>Reason</div>
      <input [class.is-invalid]="Reason.invalid && Reason.touched" type="text" class="form-control" formControlName="Reason">
      <small class="text-danger" *ngIf="Reason.invalid && Reason.touched">Reason is required.</small>
      <div *ngFor="let ele of learner.One2oneCourseInstance">
        <input #checkbox (change)="checkBoxChange()"  [value]="ele.CourseInstanceId" type="checkbox">
        <br>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <span class="label" style="font-weight: bold">Course: </span>
                <span class='text'>{{ele.Course.CourseName}}</span>
              </div>

              <div class="col-6">
                <span class="label" style="font-weight: bold">Teacher Name: </span>
                <span class='text'>{{ele.Teacher.FirstName}} {{ele.Teacher.LastName}}</span>
              </div>

              <div *ngIf='ele.Org' class="col-6">
                <span class="label" style="font-weight: bold">Location: </span>
                <span class='text'>{{ele.Org.OrgName}}</span>
              </div>

              <div class="col-6">
                <div >
                  <span class="label" style="font-weight: bold">Room: </span>
                  <span class='text'> {{ele.Room.RoomName}}</span>
                </div>
              </div>

              <div class="col-6">
                <span class="label" style="font-weight: bold">Course Start Day: </span>
                <span class='text'>{{ele.BeginDate | date:'yyyy-MM-dd'}}</span>
              </div>

              <div class="col-6">
                <span class="label" style="font-weight: bold">Course End Day: </span>
                <span class='text'>{{ele.EndDate | date:'yyyy-MM-dd'}}</span>
              </div>

              <div class="col-6">
                <span class="label" style="font-weight: bold">Course Sechdule: </span>
                <div *ngFor='let sechdule of ele.CourseSchedule'>
                    <span class='text'> {{sechdule.DayOfWeek|weekFormat}}
                      {{sechdule.BeginTime}} -- {{sechdule.EndTime}} </span>
                </div>
              </div>
              <div class="col-12" *ngFor="let amendment of ele.Amendment">
                <small *ngIf="amendment.IsTemporary == 0" class="text-secondary">
                  The course begins at {{amendment.BeginTime}} from {{amendment.BeginDate| date:'yyyy-MM-dd'}} ( Teacher: {{amendment.Teacher.FirstName}} Location : {{amendment.Org.Abbr}} - {{amendment.Room.RoomName}})
                </small>
                <small *ngIf="amendment.IsTemporary==1" class="text-secondary">
                  The course begins at {{amendment.BeginTime}} from {{amendment.BeginDate| date:'yyyy-MM-dd'}} to {{amendment.EndDate| date:'yyyy-MM-dd'}} ( Teacher: {{amendment.Teacher.FirstName}} Location : {{amendment.Org.Abbr}} - {{amendment.Room.RoomName}})
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <small class="text-danger" *ngIf="checkboxArray.length ==0 && hasError">please choose at least one option</small>
    </div>
  </div>
  <div class='modal-footer'>
    <span *ngIf="hasError" class="text-danger">{{errorMessage}}</span>
    <span *ngIf='isCancelSuccess' class='text-success'>Success </span>
    <span *ngIf='isCancelFailed' class='text-danger'>Fail </span>
    <div *ngIf="isloading" class="loaderSmall"></div>
    <button  *ngIf="!isConfirmClick" type='button' type="submit" class='btn btn-outline-dark'>Confirm</button>
    <button  type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>
