<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>delete of <span class='t_dm_title'>{{whichLearner.FirstName}}
      {{whichLearner.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div class='container'>
  <h4>Course</h4>
  <div>
    <div class="row pl-2 lable-pos">
      <button class="button-margin btn btn-outline-primary pl-2" (click)="chooseCourse()">Group/One-on-One Course</button>
    </div>

    <div *ngIf='isGroupCourse' class='m-2'>
      <div *ngFor='let groupCourse of whichLearner.LearnerGroupCourse, let i = index'>
        <br>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <span class="label">Group Course: </span>
                <span class='text'>{{groupCourse.GroupCourseInstance.Course.CourseName}}</span>
              </div>

              <div *ngIf='groupCourse.GroupCourseInstance.Org' class="col-6">
                <span class="label">Location: </span>
                <span class='text'>{{groupCourse.GroupCourseInstance.Org.OrgName}}</span>
              </div>

              <div class="col-6">
                <div>
                  <span class="label">Room: </span>
                  <span class='text'>
                    {{groupCourse.GroupCourseInstance.Room.RoomName}}
                  </span>
                </div>
              </div>

              <div class="col-6">
                <span class="label">Teacher: </span>
                <span class='text'>{{groupCourse.GroupCourseInstance.Teacher.FirstName}}
                  {{groupCourse.GroupCourseInstance.Teacher.LastName}}
                </span>
                <p class='text'>Edit End Day:</p>
                <input class='form-control' type="date" (change)='changeGroupDate($event,i)' required>
              </div>

              <div class="col-6">
                <span class="label">Schedule: </span>
                <div *ngFor='let time of groupCourse.GroupCourseInstance.CourseSchedule'>
                  <span class='text'>{{time.DayOfWeek|weekFormat}}
                    {{time.BeginTime}} -- {{time.EndTime}}</span>
                </div>
              </div>
              <div class='col-6'>
                <button (click)='onSubmit(groupCourse,i)' class='btn btn-danger'>Submit End Date</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div [formGroup]="dateForm">
      <div *ngFor="let array of list"></div>
    </div> -->

    <!-- one2one Course -->
    <div *ngIf='!isGroupCourse' [formGroup]="dateForm">
      <div  formArrayName="ono2OneDateForm">
      <div *ngFor="let ele of whichLearner.One2oneCourseInstance; let j = index" class='m-2'>
        <br>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <span class="label">One-on-One Course: </span>
                <span class='text'>{{ele.Course.CourseName}}</span>
              </div>
              <div *ngIf='!ele.EndDate||ele.EndDate>CurrentDate' class='col-4'>
                  <button (click)='onChangeChourse(ele, j)' class='btn btn-danger'>Change Course</button>
                </div>
              <div class="col-6">
                <span class="label">Teacher Name: </span>
                <span class='text'>{{ele.Teacher.FirstName}} {{ele.Teacher.LastName}}</span>
              </div>

              <div *ngIf='ele.Org' class="col-6">
                <span class="label">Location/Room: </span>
                <span class='text'>{{ele.Org.OrgName}}/{{ele.Room.RoomName}}</span>
              </div>


              <div class="col-12">
                <span class="label">Course Start Day: </span>
                <span class='text'>{{ele.BeginDate| date: "MMM d, y"}}</span>
              </div>

              <div  class="col-6" [formGroupName]="j">
                <span *ngIf='ele.EndDate' class="label">Course End Day: </span>
                <span *ngIf='ele.EndDate' class='text'>{{ele.EndDate| date: "MMM d, y"}}</span>
                <div *ngIf='!ele.EndDate||ele.EndDate>CurrentDate'>
                  <p class='text'>Edit End Day:</p>
                  <input class='form-control' type="date" formControlName="OneEnd">
                </div>
              </div>


              <div class="col-12">
                <span class="label">Course Sechdule: </span>
                <div *ngFor='let sechdule of ele.CourseSchedule'>
                  <span class='text'> {{sechdule.DayOfWeek|weekFormat}}
                    {{sechdule.BeginTime}} -- {{sechdule.EndTime}} </span>
                </div>
              </div>
              <div *ngIf='!ele.EndDate||ele.EndDate>CurrentDate' class='col-6'>
                  <button (click)='onSubmit(ele, j)' class='btn btn-danger'>Submit End Date</button>
                </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>

