<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>{{modelTitle}}</h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class='modal-body'>
    <app-admin-learner-payment-invoice *ngIf="whichModal == 'pay Invoice'" [whichLearner]= 'whichObject'></app-admin-learner-payment-invoice>
    <app-learner-credit-details *ngIf="whichModal == 'Learner Credit'" [whichLearner]='whichObject'></app-learner-credit-details>
    <app-admin-learner-timetable *ngIf="whichModal == 'Learner Timetable'" [whichLearner]='whichObject'></app-admin-learner-timetable>
    <!-- <app-learner-registration-form [whichLearner]= 'whichLearner' (toLearnerListEvent)='toLearnerListEvent($event)' activeModalEvent='onActiveModalSubmit($event)'></app-learner-registration-form> -->
    <app-trial-info *ngIf="whichModal == 'Lesson Rescheduling'" [whichObject]='whichObject'></app-trial-info>

    <div *ngIf="learnerCourseTimeTable">
      <div class='container'>
        <div class='row justify-content-center'>
          <p>Teacher's Name:</p> <p>{{eventProps.teacher}}</p>
        </div>
        <div class='row justify-content-center'>
          <p>Location: <br>{{eventProps.location}}</p>
        </div>
        <div class='row justify-content-center'>
          <p>Start at {{eventProps.startTime|date:'short'}}</p>
        </div>
        <div class='row justify-content-center'>
          <p>End at {{eventProps.endTime|date:'short'}}</p>
        </div>        
        <!-- <div class='row justify-content-center'>
            <p>end at {{learnerCourseTimeTable.event.endtime|date:'short'}}</p>
          </div>
  -->
        <button type="button" class="btn btn-outline-dark" (click)="onClicked(0)">Make Up 15 mins before </button>
        <button type="button" class="btn btn-outline-dark" (click)="onClicked(1)">Make Up 15 mins after</button>
      </div>
    </div>
</div>
<!--modal footer-->
<div class='modal-footer'>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
