@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
/* Styles for Loader */
.loaderLarge{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.loaderSmall{
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loader Styles Clousure */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212529; 
  overflow-x: hidden;
  line-height: 1.5;
  background-color: #fff;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}


/*-------FONTS-------*/

/*Login Title*/
.font1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff; 
}
/*Header Title*/
.font2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff; 
}
/*Table Title*/
.font3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: #212529; 
}

/*Content Font*/
.font4 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212529; 
}

/*Label Font*/
.font5 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #777;
}

/*Sidebar Font*/
.font6 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #777;
}
/*Sidebar Position Font*/
.font7 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
  color: #aaa;
}
/*Small Font for description*/
.font8 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #999;
}
.font9 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #796AEE;
}

/*-------ERROR RESPONCE-------*/
/*Error Font*/
.errorfont {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 400;
  color: #dc3545;
}

/*Error Font small */
.errorfontsmall {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #dc3545;
}


#calendar {
  max-width: 900px;
  margin: 40px auto;
}

.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  margin-top: 30px;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 50px;
  text-align: center;
}

.tooltip {
  border-style: solid;
  position: absolute;
}

.tooltip .tooltip-arrow{
  border-color: #FFC107;
  border-width: 0 20px 20px 20px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -20px;
  left: calc(50% - 20px);
  margin-top: 0;
  margin-bottom: 0;
}
