<div class="modal-header">
  <h4 class="modal-title">Apply New Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class='t_mf_form'>
    <form [formGroup]='applicationFrom'>
      <!-- first row -->
      <div class="row">
        <div class="col-6">
          <label class='t_mf_label'>Staff Name:</label>&nbsp;
          <input type="text" class='col-12 t_mf_input' [value]="staffName" readonly>
        </div>
        <div class="col-6">
          <label class='t_mf_label'>Location:</label>&nbsp;
          <input type="text" class='col-12 t_mf_input' [value]="orgName" readonly>
        </div>
      </div>
      <!-- second row -->
      <div class="row">
        <div class="col-12">
          <label class='t_mf_label'>Apply Reason:</label>&nbsp;
          <small class='text-danger errorfontsmall' style='text-align: center'
            *ngIf='applicationFrom.get("applyReason").invalid && applicationFrom.get("applyReason").touched'>required</small>
          <input type="textarea" class='col-12 t_mf_input__textarea' formControlName='applyReason'
            [class.t_mf_error_border]='applicationFrom.get("applyReason").invalid && applicationFrom.get("applyReason").touched'>
        </div>
      </div>
      <!-- third row -->
      <div formArrayName="productIdQty"
        *ngFor="let prods of applicationFrom.get('productIdQty').controls; let i = index">
        <div [formGroupName]="i">
          <div class="d-flex justify-content-end" style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-info t_info_addmore_btn" (click)="resetForm(i)" style="margin-right: 20px;"><i class="fas fa-eraser"></i></button>
            <button class="btn btn-info t_info_addmore_btn" (click)="deleteForm(i)"><i class='fas fa-trash-alt'></i></button>
          </div>
          <!-- fourth row -->
          <div class="row">
            <div class="col-6">
              <label class='t_mf_label' for="prodCat[i]">Product Category:</label>&nbsp;
              <select class='col-12 t_mf_input' formControlName="prodCat" id="prodCat[i]" (change)="getProdTypeByCat($event.target.value)">
                <option *ngFor='let prodCat of prodCats' [value]="prodCat.ProdCatId">{{prodCat.ProdCatName}}</option>
              </select>
            </div>
            <div class="col-6">
              <label class='t_mf_label' for="prodType[i]">Product Type:</label>&nbsp;
              <select class='col-12 t_mf_input' formControlName="prodType" id="prodType[i]" (change)="getProdByType($event.target.value)">
                <option *ngFor='let prodType of prodTypes' [value]="prodType.ProdTypeId">{{prodType.ProdTypeName}}</option>
              </select>
            </div>
          </div>
          <!-- fifth row -->
          <div class="row">
            <div class="col-6">
              <label class='t_mf_label' for="prod[i]">Product Name:</label>&nbsp;
              <select class='col-12 t_mf_input' formControlName="prod" id="prod[i]">
                <option *ngFor='let prod of products' [value]="prod.ProductId">{{prod.ProductName}}</option>
              </select>
            </div>
            <div class="col-6">
              <label class='t_mf_label'>Product Quantity:</label>&nbsp;
              <input type="number" class='col-12 t_mf_input' formControlName="appliedQty">
            </div>
          </div>
        </div>
      </div>
      <!-- fifth row [disabled]="productIdQty.invalid" -->
      <div class="d-flex justify-content-end" style="margin-top: 10px">
        <button class="btn btn-info t_info_addmore_btn" (click)="addProds(i)">
          <i class="fas fa-plus-circle"></i>
          <span>Add product</span>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
