<div class='m_m_skeleton' draggable="true">
  <!--header-->
  <div class='m_m_header'>
    <span>
      <span></span>
    </span>
    chatting with...    
    <span class='m_m_header_close' (click)='closeChattingModal()'>
      <span class='fas fa-times'></span>
    </span>
  </div>

  <!--personal label ui-->
  <app-messager-personal-info *ngIf='personalLabelDisplayFlag'></app-messager-personal-info>

  <!--subscribers ui-->
  <div class='m_m_subscribers' id='subscribers'> 
    <app-messager-subscribers (onChattingWith)='startChattingWith($event)'></app-messager-subscribers>
  </div>

  <!--recently chatting ui-->
  <div class='m_m_recently' id='recently'>
    <app-messager-recently></app-messager-recently>
  </div>

  <!--chatting ui-->
  <div class='m_m_chatting' id='chatting'>
    <app-messager-chatting></app-messager-chatting>
  </div>

  <div class='m_m_selection_btns'>
    <div class='row'>
      <div class='col-4 m_m_selection_btn_a'>
          <span class='m_m_selection_btn'><span class='far fa-user unlock'></span></span>
          <span (click)='selectFunctionalBtn(0)' class='m_m_selection_btn' id='initSelected'>
            <span class='fas fa-user lock' title='subscribers'></span>
          </span>
      </div>
      <div class='col-4 m_m_selection_btn_b'>
          <span class='m_m_selection_btn'><span class='far fa-circle unlock'></span></span>
          <span (click)='selectFunctionalBtn(1)' class='m_m_selection_btn'>
            <span class='fas fa-circle lock' title='recently chatting'></span>
          </span>
      </div>
      <div class='col-4 m_m_selection_btn_c'>
          <span class='m_m_selection_btn'><span class='far fa-comments unlock'></span></span>
          <span (click)='selectFunctionalBtn(2)' class='m_m_selection_btn'>
            <span class='fas fa-comments lock' title='chatting'></span>
          </span>
      </div>
    </div>
  </div>
</div>