<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="{{userDetail.img}}" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="font3">{{userDetail.firstname}} {{userDetail.lastname}}</h1>
      <p class="font7">{{userDetail.position}}</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul>
    <!-- <li *ngFor="let item of navitem;">
      <a [routerLink]="['/',item.pageurl]" routerLinkActive="active" class="font6">
        <i class="fas sidebaricon" [ngClass]="item.Page[0].Icon"></i>
        {{item.PageGroupName}}
      </a>
    </li> -->
    <!--Form here-->
    <li *ngFor="let item of navitem; let i = index">
      <a href="#exampledropdownDropdown{{i}}" aria-expanded="false" data-toggle="collapse" routerLinkActive="active" class="font6">
        <i class="fas sidebaricon" [ngClass]="item.Icon"></i>
        {{item.PageGroupName}}
      </a>
      <ul id="exampledropdownDropdown{{i}}" class="collapse">
        <li *ngFor="let key of item.Page;">
          <div *ngIf="key.Url">
          <a [routerLink]="[key.Url]" routerLinkActive="active">
            <i class="fas sidebaricon" [ngClass]="key.Icon"></i>
            {{key.PageName}}
          </a>
        </div>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Extras -->
  <span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li><a [routerLink]="['/testcontent']"><i class="fas fa-flask sidebaricon"></i>Test</a></li>
    <li><a href="#"><i class="fas fa-desktop sidebaricon"></i>Demo</a></li>
    <li><a href="#"><i class="far fa-envelope sidebaricon"></i>Demo</a></li>
    <li><a href="#"><i class="far fa-image sidebaricon"></i>Demo</a></li>
  </ul>
  <!-- To here Don't Touch anything Please-->
</nav>
