<!--modal header-->
<div class='modal-header'>
  <h4 class='modal-title'>Reset Password</h4>
  <button type="button" class='btn btn-sm btn-info t_dm_close_btn' aria-label="Close"
    (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- modal body -->
<div class="modal-body">
  <div class="container">
  <form novalidate [formGroup]="myForm">
      <input class="form-control w-75" placeholder="User Name" formControlName="userName" type="text">
      <span class="promptmessage" *ngIf="myForm.controls.userName.invalid && myForm.controls.userName.touched || myForm.controls.userName.dirty">
        <div *ngIf="myForm.controls.userName.errors.required">
          Please input user name
        </div>
      </span>
    <br>

    <input class="form-control w-75" placeholder="Email" formControlName="email" type="text">
    <span class="promptmessage" *ngIf="myForm.controls.email.invalid && myForm.controls.email.touched || myForm.controls.email.dirty">
      <div *ngIf="myForm.controls.email.errors.required">
        Please input yout E-mail.
      </div>
      <div *ngIf="myForm.controls.email.errors.email">
        Incorrect email entered.
      </div>
    </span>

    <br>
    <div>Please call Edwin at Spiritx for help: <span style="color:blue;">021 326 689</span></div>

    <span class="promptmessage">
        <div *ngIf="!success || myForm.invalid" >
          {{errorMessage}}
        </div>
      </span>
      <button (click)="onSubmit()" class="btn btn-outline-primary btn-lg"> Submit </button>
  </form>
</div>
</div>