<!--modal header-->
<div class="modal-header">
  <h4 class="modal-title col-4">Invoice Editing </h4>
  <div class="d-flex">
    <p> Invoice No.&nbsp; {{item2.InvoiceNum}}</p>
  </div>
  <button type="button" class="btn btn-sm btn-info tl_mu_btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div class="modal-body">
  <form [formGroup]="invoiceEditForm" class="justify-content-between">
    <div class="form-group row justify-content-center">
      <div class="col-5">
        <div>
          <label class="mt-2">Course Name</label>
          <input class="form-control" type="text" formControlName="CourseName" />
        </div>
        <div>
          <label class="mt-2">Begining at</label>
          <input class="form-control" type="date" formControlName='BeginDate' />
        </div>
      </div>

      <div class="col-5">
        <div>
          <label class="mt-2">Lesson Quantity (Price: ${{coursePrice}})</label>
          <input disabled class="form-control" type="number" min="0" formControlName="LessonQuantity" (change)='changeQuantity()' />
        </div>
        <div>
          <label class="mt-2">Lesson Fee</label>
          <input class="form-control" type="number" min="0" formControlName="LessonFee" (keyup)="setOwingFee()" (change)="feeOnChange('LessonFee')" />
        </div>
      </div>
    </div>

    <div formGroupName="Concert" class="form-group row justify-content-center">
      <div class="col-5">
        <label class="mt-2">Concert Term and Date</label>
        <input class="form-control" type="text" formControlName="ConcertFeeName" />
        <div class="text-danger" *ngIf="invoiceEditForm.controls.Concert.errors?.fillFeeName">Please fill concert term and date</div>
      </div>
      <div class="col-5">
        <label class="mt-2">Concert Fee</label>
        <input type="checkbox" class="ml-2" id="concertCheckBox" (change)="checkboxOnChange('concertCheckBox')" formControlName="concertCheckBox">
        <input class="form-control" type="number" min='0' formControlName="ConcertFee" (keyup)="setOwingFee()" (change)="feeOnChange('ConcertFee','Concert')" />
        <div class="text-danger" *ngIf="invoiceEditForm.controls.Concert.errors?.fillFee">Please fill fee</div>
      </div>
    </div>

    <div formGroupName="Note" class="form-group row justify-content-center">
      <div class="col-5">
        <label class="mt-2">Lesson Note Term and Date</label>
        <input class="form-control" type="text" formControlName='LessonNoteFeeName' />
        <div class="text-danger" *ngIf="invoiceEditForm.controls.Note.errors?.fillFeeName">Please fill note term and date</div>
      </div>
      <div class="col-5">
        <label class="mt-2">Note Fee</label>
        <input type="checkbox" class="ml-2" id="noteCheckBox" (change)="checkboxOnChange('noteCheckBox')" formControlName="noteCheckBox">
        <input class="form-control" type="number" min='0' formControlName="NoteFee" (keyup)="setOwingFee()" (change)="feeOnChange('NoteFee','Note')" />
        <div class="text-danger" *ngIf="invoiceEditForm.controls.Note.errors?.fillFee">Please fill fee</div>
      </div>
    </div>

    <hr />

    <div>
      <div formGroupName="Other1" class="form-group row justify-content-center">
        <div class="col-5">
          <label class="mt-2">Others 1</label>
          <input [attr.disabled]='item2.Other1FeeName=="Registration Fees"' class="form-control" type="text" formControlName="Other1FeeName" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other1.errors?.fillFeeName">Please fill fee name</div>
        </div>
        <div class="col-5">
          <label class="mt-2">Others Fee 1</label>
          <input [attr.disabled]='item2.Other1FeeName=="Registration Fees"' class="form-control" type="number" min='0' formControlName="Other1Fee" (keyup)="setOwingFee()" (change)="feeOnChange('Other1Fee','Other1')" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other1.errors?.fillFee">Please fill fee</div>
        </div>
      </div>
      <div formGroupName="Other2" class="form-group row justify-content-center">
        <div class="col-5">
          <label class="mt-2">Others 2</label>
          <input class="form-control" type="text" formControlName="Other2FeeName" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other2.errors?.fillFeeName">Please fill fee name</div>
        </div>
        <div class="col-5">
          <label class="mt-2">Others Fee 2</label>
          <input class="form-control" type="number" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" min='0' 
            formControlName="Other2Fee" (keyup)="setOwingFee()" (change)="feeOnChange('Other2Fee','Other2')" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other2.errors?.fillFee">Please fill fee</div>
        </div>
      </div>
      <div formGroupName="Other3" class="form-group row justify-content-center">
        <div class="col-5">
          <label class="mt-2">Others 3</label>
          <input class="form-control" type="text" formControlName="Other3FeeName" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other3.errors?.fillFeeName">Please fill fee name</div>
        </div>
        <div class="col-5">
          <label class="mt-2">Other Fee 3</label>
          <input class="form-control" type="number" min="0" formControlName="Other3Fee" (keyup)="setOwingFee()" (change)="feeOnChange('Other3Fee','Other3')" />
          <div class="text-danger" *ngIf="invoiceEditForm.controls.Other3.errors?.fillFee">Please fill fee</div>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <div class="col-10">
          <label class="mt-2">Comments</label>
          <input class="form-control" type="text" formControlName="Comment" />
          <!-- <div class="text-danger" *ngIf="invoiceEditForm.controls.Comment.errors">Please fill Comment</div> -->
        </div>
      </div>
    </div>
    <hr />
    <div class="form-group row justify-content-center">
      <div class="col-5">
        <label class="mt-2"> All Subject in Total:</label>
        <p>{{owingFeeLocal}}</p>
      </div>
      <div class="col-5">
        <label class="mt-2"> Due Date:</label>
        <p>{{dueDateLocal|date:'MMM d, y'}}</p>
      </div>
    </div>
  </form>
</div>

<!--modal footer-->
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="sendMail(confirmModal)" id="save">
    Save
  </button>
  <small *ngIf="errMsgM" class="text-danger">Please make sure all field are correct</small>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">
    Close
  </button>
</div>
<!-- ng bootstrap alert -->
<ngb-alert *ngIf='successAlert' type="success" (close)="closeSucc()">Your Payment Has Been Made</ngb-alert>
<ngb-alert *ngIf='errorAlert' type="danger" (close)="closeErro()">{{ errorMsg }}</ngb-alert>

<ng-template #confirmModal let-modal>
  <div class="modal-header m-2">
    <h4>Please Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- modal-body -->
  <div class="container">
    <div class="d-flex justify-content-center">
      <p class='text-danger' *ngIf="originPrice !== userChosenPrice">The original lesson fee is {{originPrice}}, you have changed to {{userChosenPrice}}, please confirm</p>
    </div>
    <div class="d-flex justify-content-center">
      <p>Please click send button by update this invoice to database</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Save')">
      Confirm
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">
      Cancel
    </button>
  </div>
</ng-template>
